Azure-Data-Factory/templates/Filler Operation2/Filler Operation2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"WWSQL003_DataverseDev": {
			"type": "string"
		},
		"DataverseDev": {
			"type": "string"
		},
		"WWSQL003_Dataverse_Staging": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Filler Operation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Filler Operator",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_filleroperationid",
											"type": "Guid"
										},
										"sink": {
											"name": "Filler operation ID",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bardifferential",
											"type": "Boolean"
										},
										"sink": {
											"name": "1.5 bar differential",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_airramscrewcapper",
											"type": "Int32"
										},
										"sink": {
											"name": "Air Ram Screw Capper",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_airramscrewcappersig",
											"type": "String"
										},
										"sink": {
											"name": "Air Ram Screw Capper Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_alcoholinbottlesig",
											"type": "String"
										},
										"sink": {
											"name": "Alcohol in bottle Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_alcoholintank",
											"type": "String"
										},
										"sink": {
											"name": "Alcohol in tank Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_alcoholpercentage",
											"type": "Decimal"
										},
										"sink": {
											"name": "Alcohol percentage",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_alcoholsterilisation",
											"type": "Int32"
										},
										"sink": {
											"name": "Alcohol Sterilisation",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alcoholsterilisationsig",
											"type": "String"
										},
										"sink": {
											"name": "Alcohol Sterilisation Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_allfilterspresent",
											"type": "Int32"
										},
										"sink": {
											"name": "All Filters Present",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_atpswabsnottakensig",
											"type": "String"
										},
										"sink": {
											"name": "ATP swabs not taken sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_beltlubecompletedsig",
											"type": "String"
										},
										"sink": {
											"name": "Belt lube completed sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_blbottlecodeandguiderailsset",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Code and Guide Rails Set",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_blbottlecoderrunningandlegible",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Coder Running and Legible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccbrand",
											"type": "String"
										},
										"sink": {
											"name": "Brand",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccbrandsig",
											"type": "String"
										},
										"sink": {
											"name": "Brand Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bucketsflowedintime",
											"type": "Decimal"
										},
										"sink": {
											"name": "Buckets flowed in time",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_ccp1starttheruncheck",
											"type": "String"
										},
										"sink": {
											"name": "CCP1 Start the Run Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccp1starttherunchecktime",
											"type": "DateTime"
										},
										"sink": {
											"name": "CCP1 Start the Run Check Time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_closurehopperempty",
											"type": "Int32"
										},
										"sink": {
											"name": "Closure Hopper Empty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_closurehopperemptysig",
											"type": "String"
										},
										"sink": {
											"name": "Closure Hopper Empty Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccclosuretype",
											"type": "String"
										},
										"sink": {
											"name": "Closure Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccclosuretypesig",
											"type": "String"
										},
										"sink": {
											"name": "Closure Type Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "CO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_blcodeheight",
											"type": "String"
										},
										"sink": {
											"name": "Code Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_colour",
											"type": "String"
										},
										"sink": {
											"name": "Colour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cccolour",
											"type": "String"
										},
										"sink": {
											"name": "Colour2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_colourcheckedsig",
											"type": "String"
										},
										"sink": {
											"name": "Colour Checked Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cccoloursig",
											"type": "String"
										},
										"sink": {
											"name": "Colour Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_contactpointsforglassfrag",
											"type": "String"
										},
										"sink": {
											"name": "Contact points for glass frag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkbaseclearofcorksforeignmatter",
											"type": "Boolean"
										},
										"sink": {
											"name": "Cork base clear of corks / foreign matter",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_corkplungedepth",
											"type": "Int32"
										},
										"sink": {
											"name": "Cork Plunge Depth",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_corkerbellscorrectsizesig",
											"type": "String"
										},
										"sink": {
											"name": "Corker bells correct size Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkdepthaftermuselet",
											"type": "Int32"
										},
										"sink": {
											"name": "Cork Depth after Muselet",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_corkdetectoronsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork detector on Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cccorkgradesize",
											"type": "String"
										},
										"sink": {
											"name": "Cork Grade/Size",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cccorkgradesizesig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Grade/Size Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corkerheadspacepressure",
											"type": "String"
										},
										"sink": {
											"name": "Corker Headspace Pressure",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkerheight",
											"type": "Int32"
										},
										"sink": {
											"name": "Corker Height",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_corkerlubrication",
											"type": "Boolean"
										},
										"sink": {
											"name": "Corker lubrication",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_corkermainvalveopensig",
											"type": "String"
										},
										"sink": {
											"name": "corker main valve open sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkinsertion",
											"type": "Int32"
										},
										"sink": {
											"name": "Cork Insertion",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "crc5d_corkerplungersset",
											"type": "String"
										},
										"sink": {
											"name": "Corker Plungers Set",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corkervacuumon",
											"type": "String"
										},
										"sink": {
											"name": "Corker Vacuum on",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkervacuumpumponsig",
											"type": "String"
										},
										"sink": {
											"name": "Corker vacuum pump on Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_correctchangepartssig",
											"type": "String"
										},
										"sink": {
											"name": "Correct change parts Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_correctdosingrateset",
											"type": "Decimal"
										},
										"sink": {
											"name": "Correct dosing rate set",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "crc5d_correctfilters",
											"type": "String"
										},
										"sink": {
											"name": "Correct Filters",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_correctfiltrationsig",
											"type": "String"
										},
										"sink": {
											"name": "Correct filtration Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_correctluxcappingheadssig",
											"type": "String"
										},
										"sink": {
											"name": "Correct lux capping heads Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_correctvalvesopenclosedsig",
											"type": "String"
										},
										"sink": {
											"name": "Correct valves open closed Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_correctwineisbottled",
											"type": "String"
										},
										"sink": {
											"name": "Correct wine is bottled sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_blcountzeroed",
											"type": "String"
										},
										"sink": {
											"name": "Count Zeroed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_density",
											"type": "Decimal"
										},
										"sink": {
											"name": "Density",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_deoxnitrogenonsig",
											"type": "String"
										},
										"sink": {
											"name": "Deox nitrogen on sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_deoxvaccumonsig",
											"type": "String"
										},
										"sink": {
											"name": "Deox vaccum on sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_do",
											"type": "Decimal"
										},
										"sink": {
											"name": "DO",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_donotstartrununtilccp1iscomplete",
											"type": "String"
										},
										"sink": {
											"name": "Do not start run until CCP1 is complete",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_donotstartrununtilccp1iscompletetime",
											"type": "DateTime"
										},
										"sink": {
											"name": "Do not start run until CCP1 is complete Time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_docketvessel",
											"type": "Int32"
										},
										"sink": {
											"name": "Docket & Vessel",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_docketvesselsig",
											"type": "String"
										},
										"sink": {
											"name": "Docket & Vessel Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_endofruncomments",
											"type": "String"
										},
										"sink": {
											"name": "End of Run Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_eorbottlecount",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Bottle Count",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorbottlingto",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Bottling To",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorchecktime",
											"type": "DateTime"
										},
										"sink": {
											"name": "EOR Check Time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_eorfinalbottlecount",
											"type": "String"
										},
										"sink": {
											"name": "EOR Final Bottle Count",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_eorflowmetercheck",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Flow Meter Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorglassfragmentscheck",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Glass Fragments Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorinbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR In Bottle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_inbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR In Bottle2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorrinseheadinspection",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Rinse head inspection",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorrinseheadmedium",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Rinse head medium",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorrinsergaswatersupplyline1",
											"type": "Decimal"
										},
										"sink": {
											"name": "EOR Rinser Gas/Water Supply Line1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_eorrinsergaswatersupplyline2",
											"type": "Decimal"
										},
										"sink": {
											"name": "EOR Rinser Gas/Water Supply Line2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_eorrinserpressurefluctuations",
											"type": "Decimal"
										},
										"sink": {
											"name": "EOR Rinser Pressure Fluctuations",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillheightdetectoronsig",
											"type": "String"
										},
										"sink": {
											"name": "Fill height detector on Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillheights",
											"type": "String"
										},
										"sink": {
											"name": "Fill Heights",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerbowlpressure",
											"type": "Decimal"
										},
										"sink": {
											"name": "Filler Bowl Pressure",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillerbowltemperature",
											"type": "Boolean"
										},
										"sink": {
											"name": "Filler Bowl Temperature",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_fillercentringbellssealscheck",
											"type": "String"
										},
										"sink": {
											"name": "Filler Centring Bells/Seals Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerfillstemssterile",
											"type": "String"
										},
										"sink": {
											"name": "Filler Fill Stems Sterile",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filleroperation",
											"type": "String"
										},
										"sink": {
											"name": "Filler Operation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillervacuumon",
											"type": "String"
										},
										"sink": {
											"name": "Filler Vacuum On",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filterintegrityafter2minutes",
											"type": "String"
										},
										"sink": {
											"name": "Filter integrity after 2 minutes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_filtrationcharges",
											"type": "String"
										},
										"sink": {
											"name": "Filtration Charges",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fliesinthefiller",
											"type": "Int32"
										},
										"sink": {
											"name": "Flies in the filler room",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fliesinthefillerroom",
											"type": "Boolean"
										},
										"sink": {
											"name": "Flies in the filler room_old",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_flies",
											"type": "String"
										},
										"sink": {
											"name": "Flies sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_gasblowonbottle",
											"type": "Decimal"
										},
										"sink": {
											"name": "Gas blow on bottle",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_gasfloatyonsig",
											"type": "String"
										},
										"sink": {
											"name": "Gas floaty on Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_glassbottlecheck",
											"type": "String"
										},
										"sink": {
											"name": "Glass Bottle Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_glassfrag",
											"type": "Int32"
										},
										"sink": {
											"name": "Glass Frag",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_glassfragsig",
											"type": "String"
										},
										"sink": {
											"name": "Glass Frag Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_glasspumpcheck",
											"type": "String"
										},
										"sink": {
											"name": "Glass pump check sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_heightstimingsig",
											"type": "String"
										},
										"sink": {
											"name": "Heights timing Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_highvacuumpumponsig",
											"type": "String"
										},
										"sink": {
											"name": "High vacuum pump on Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_hosecleangassedsig",
											"type": "String"
										},
										"sink": {
											"name": "Hose clean gassed Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccilscodesig",
											"type": "String"
										},
										"sink": {
											"name": "ILS Code Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccilscode",
											"type": "String"
										},
										"sink": {
											"name": "ILSCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_inertgascorkerinletonsig",
											"type": "String"
										},
										"sink": {
											"name": "Inert gas corker inlet on Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_inertgastofillerbowl",
											"type": "String"
										},
										"sink": {
											"name": "Inert Gas to Filler Bowl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_inertgastorinser",
											"type": "String"
										},
										"sink": {
											"name": "Inert Gas to Rinser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_inertgastorinseronsig",
											"type": "String"
										},
										"sink": {
											"name": "Inert gas to rinser on Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_inertgastotanker",
											"type": "String"
										},
										"sink": {
											"name": "Inert Gas to Tanker",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_isthisanorganicproduct",
											"type": "Int32"
										},
										"sink": {
											"name": "Is this an Organic product",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_isthemuseletuniform",
											"type": "Boolean"
										},
										"sink": {
											"name": "Is the muselet uniform",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_isthemuseletsecure",
											"type": "Boolean"
										},
										"sink": {
											"name": "Is the muselet secure",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_isthetieupright",
											"type": "Boolean"
										},
										"sink": {
											"name": "Is the tie upright",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_jawlubechecked",
											"type": "Int32"
										},
										"sink": {
											"name": "Jaw Lube Checked",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_jawlubecheckedsig",
											"type": "String"
										},
										"sink": {
											"name": "Jaw Lube Checked Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_knifebladechecksig",
											"type": "String"
										},
										"sink": {
											"name": "Knife blade check sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_litmuspapertestinproduct",
											"type": "Boolean"
										},
										"sink": {
											"name": "Litmus paper test in product",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_lowvacuumpumponsig",
											"type": "String"
										},
										"sink": {
											"name": "Low vacuum pump on Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_luxheadstorqueing",
											"type": "Int32"
										},
										"sink": {
											"name": "Lux heads torqueing",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_manualjogbottle",
											"type": "String"
										},
										"sink": {
											"name": "Manual Jog 1x Bottle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_museletbaseclearofmuseletsfm",
											"type": "Boolean"
										},
										"sink": {
											"name": "Muselet base clear of muselets/foreign matter",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_mfintegrityverificationsig",
											"type": "String"
										},
										"sink": {
											"name": "MF Integrity Verification Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_missingcapdetectoronsig",
											"type": "String"
										},
										"sink": {
											"name": "Missing cap detector on Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_numberontagsfilters",
											"type": "String"
										},
										"sink": {
											"name": "Number on tag(s) Filters",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_numberontagssig",
											"type": "String"
										},
										"sink": {
											"name": "Number on tag(s) Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_organicproduct",
											"type": "Boolean"
										},
										"sink": {
											"name": "Organic Product",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_printing",
											"type": "String"
										},
										"sink": {
											"name": "Printing",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_printingcheckedsig",
											"type": "String"
										},
										"sink": {
											"name": "Printing checked Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccplainprinted",
											"type": "String"
										},
										"sink": {
											"name": "Plain / Printed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccplainprintedsig",
											"type": "String"
										},
										"sink": {
											"name": "Plain/Printed Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_plcelectrovalveonsig",
											"type": "String"
										},
										"sink": {
											"name": "PLC electrovalve on sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_plcfillerpumponsig",
											"type": "String"
										},
										"sink": {
											"name": "PLC filler pump on sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_plcrinseronsig",
											"type": "String"
										},
										"sink": {
											"name": "PLC rinser on sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productlinecheck",
											"type": "String"
										},
										"sink": {
											"name": "Product line check sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productionrunstart",
											"type": "DateTime"
										},
										"sink": {
											"name": "Production Run Start",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_refractbtl",
											"type": "String"
										},
										"sink": {
											"name": "Refract BTL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_refracttank",
											"type": "String"
										},
										"sink": {
											"name": "Refract Tank",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_rinsermedium",
											"type": "Int32"
										},
										"sink": {
											"name": "Rinser Medium",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "crc5d_rinsermediumsig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser Medium Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserwateronsig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser water on Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinsergassupplyco2",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rinser Gas Supply (CO2)",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinserwatersupply",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rinser Water Supply",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinserbottlegrippersetsig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser bottle gripper set Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserlowpressurecutoutsig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser low pressure cutout Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "Run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_blsampleattachedtospecsheet",
											"type": "String"
										},
										"sink": {
											"name": "Sample Attached to Spec Sheet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_screencheckfordoserate",
											"type": "Decimal"
										},
										"sink": {
											"name": "Screen check for dose rate",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_setpointtemperaturec",
											"type": "Decimal"
										},
										"sink": {
											"name": "Setpoint Temperature (°C)",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_sparkling",
											"type": "Boolean"
										},
										"sink": {
											"name": "Sparkling",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_specsheetreadandsigned",
											"type": "String"
										},
										"sink": {
											"name": "Spec sheet read and signed sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationfilterintegrityverification",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization Filter Integrity Verification Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationfinish",
											"type": "DateTime"
										},
										"sink": {
											"name": "Sterilization Finish",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationmembraneintegrity",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization Membrane Integrity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationprocess",
											"type": "Int32"
										},
										"sink": {
											"name": "Sterilization Process",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationprocesssig",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization process Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationrfintegrityverificationsig",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization RF Integrity Verification Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationrinserintegrity",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization Rinser Integrity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationstart",
											"type": "DateTime"
										},
										"sink": {
											"name": "Sterilization Start",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationtemperature",
											"type": "Decimal"
										},
										"sink": {
											"name": "Sterilization Temperature",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tankpressure",
											"type": "Decimal"
										},
										"sink": {
											"name": "Tank Pressure",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_threadrollersh1",
											"type": "String"
										},
										"sink": {
											"name": "Thread Rollers H1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_threadrollersh2",
											"type": "String"
										},
										"sink": {
											"name": "Thread Rollers H2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_threadrollersh3",
											"type": "String"
										},
										"sink": {
											"name": "Thread Rollers H3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_threadrollersh4",
											"type": "String"
										},
										"sink": {
											"name": "Thread Rollers H4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_threadrollersh5",
											"type": "String"
										},
										"sink": {
											"name": "Thread Rollers H5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tuckrollersh5",
											"type": "String"
										},
										"sink": {
											"name": "Tuck Rollers  H5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tuckrollersh1",
											"type": "String"
										},
										"sink": {
											"name": "Tuck Rollers H1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tuckrollersh2",
											"type": "String"
										},
										"sink": {
											"name": "Tuck Rollers H2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tuckrollersh3",
											"type": "String"
										},
										"sink": {
											"name": "Tuck Rollers H3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tuckrollersh4",
											"type": "String"
										},
										"sink": {
											"name": "Tuck Rollers H4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_venttubecount",
											"type": "Boolean"
										},
										"sink": {
											"name": "Vent Tube Count",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_visualcolourmatchtankbtl",
											"type": "Int32"
										},
										"sink": {
											"name": "Visual Colour Match Tank/BTL",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_warmingtunnelsetup",
											"type": "Boolean"
										},
										"sink": {
											"name": "Warming Tunnel Setup",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_warmingtunnelpump",
											"type": "Boolean"
										},
										"sink": {
											"name": "Warming Tunnel Pump",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_winepump",
											"type": "Int32"
										},
										"sink": {
											"name": "Wine pump (Select & Sign)",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_winepumpsig",
											"type": "String"
										},
										"sink": {
											"name": "Wine pump sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_winetempinternalprobe",
											"type": "Decimal"
										},
										"sink": {
											"name": "Wine Temp (internal probe)",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_xraydensitybottles",
											"type": "String"
										},
										"sink": {
											"name": "X Ray Density Bottles",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_xraylimitsrejecting",
											"type": "String"
										},
										"sink": {
											"name": "X Ray Limits Rejecting",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_xrayseton",
											"type": "String"
										},
										"sink": {
											"name": "X Ray Set On",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_zorksealcheckok",
											"type": "Boolean"
										},
										"sink": {
											"name": "Zork seal check ok",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_winemakersignatureid",
											"type": "Guid"
										},
										"sink": {
											"name": "ww_winemakersignatureid",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlingfrom",
											"type": "Guid"
										},
										"sink": {
											"name": "Bottling From Lookup",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FillerOperation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_FillerOperation",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Filler Operator",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Filler Operation]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('WWSQL003_DataverseDev')]",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Email on Failure Filler Operator",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Filler Operator",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "Email on Failure Filler Operator merge",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-07-26T22:14:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/FillerOperation')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_FillerOperation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FillerOperation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataverseDev')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_filleroperation"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_FillerOperation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('WWSQL003_Dataverse_Staging')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Filler operation ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "Air Ram Screw Capper",
						"type": "nvarchar"
					},
					{
						"name": "Air Ram Screw Capper Sig",
						"type": "nvarchar"
					},
					{
						"name": "Alcohol Sterilisation",
						"type": "nvarchar"
					},
					{
						"name": "Alcohol Sterilisation Sig",
						"type": "nvarchar"
					},
					{
						"name": "All Filters Present",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Code and Guide Rails Set",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Coder Running and Legible",
						"type": "nvarchar"
					},
					{
						"name": "Brand",
						"type": "nvarchar"
					},
					{
						"name": "Brand Sig",
						"type": "nvarchar"
					},
					{
						"name": "CCP1 Start the Run Check",
						"type": "nvarchar"
					},
					{
						"name": "CCP1 Start the Run Check Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Closure Hopper Empty",
						"type": "nvarchar"
					},
					{
						"name": "Closure Hopper Empty Sig",
						"type": "nvarchar"
					},
					{
						"name": "Closure Type",
						"type": "nvarchar"
					},
					{
						"name": "Closure Type Sig",
						"type": "nvarchar"
					},
					{
						"name": "Code Height",
						"type": "nvarchar"
					},
					{
						"name": "Colour",
						"type": "nvarchar"
					},
					{
						"name": "Colour Sig",
						"type": "nvarchar"
					},
					{
						"name": "Contact points for glass frag",
						"type": "nvarchar"
					},
					{
						"name": "Cork Grade/Size",
						"type": "nvarchar"
					},
					{
						"name": "Cork Grade/Size Sig",
						"type": "nvarchar"
					},
					{
						"name": "Corker Headspace Pressure",
						"type": "nvarchar"
					},
					{
						"name": "Corker Plungers Set",
						"type": "nvarchar"
					},
					{
						"name": "Corker Vacuum on",
						"type": "nvarchar"
					},
					{
						"name": "Correct Filters",
						"type": "nvarchar"
					},
					{
						"name": "Correct wine is bottled sig",
						"type": "nvarchar"
					},
					{
						"name": "Count Zeroed",
						"type": "nvarchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Do not start run until CCP1 is complete",
						"type": "nvarchar"
					},
					{
						"name": "Do not start run until CCP1 is complete Time",
						"type": "nvarchar"
					},
					{
						"name": "Docket & Vessel",
						"type": "nvarchar"
					},
					{
						"name": "Docket & Vessel Sig",
						"type": "nvarchar"
					},
					{
						"name": "End of Run Comments",
						"type": "nvarchar"
					},
					{
						"name": "EOR Bottle Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Bottle Number",
						"type": "nvarchar"
					},
					{
						"name": "EOR Bottling To",
						"type": "nvarchar"
					},
					{
						"name": "EOR Check Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EOR Flow Meter Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Glass Fragments Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR In Bottle",
						"type": "nvarchar"
					},
					{
						"name": "EOR Rinse head inspection",
						"type": "nvarchar"
					},
					{
						"name": "EOR Rinse head medium",
						"type": "nvarchar"
					},
					{
						"name": "EOR Rinser Gas/Water Supply Line1",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "EOR Rinser Gas/Water Supply Line2",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "EOR Rinser Pressure Fluctuations",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Fill Heights",
						"type": "nvarchar"
					},
					{
						"name": "Filler Centring Bells/Seals Check",
						"type": "nvarchar"
					},
					{
						"name": "Filler Fill Stems Sterile",
						"type": "nvarchar"
					},
					{
						"name": "Filler Operation",
						"type": "nvarchar"
					},
					{
						"name": "Filler Vacuum On",
						"type": "nvarchar"
					},
					{
						"name": "Filtration Charges",
						"type": "nvarchar"
					},
					{
						"name": "Flies in the filler room",
						"type": "nvarchar"
					},
					{
						"name": "Flies in the filler room_old",
						"type": "nvarchar"
					},
					{
						"name": "Flies sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass Bottle Check",
						"type": "nvarchar"
					},
					{
						"name": "Glass Frag",
						"type": "nvarchar"
					},
					{
						"name": "Glass Frag Sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass pump check sig",
						"type": "nvarchar"
					},
					{
						"name": "ILS Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "ILSCode",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Filler Bowl",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Rinser",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Tanker",
						"type": "nvarchar"
					},
					{
						"name": "Is this an Organic product",
						"type": "nvarchar"
					},
					{
						"name": "Jaw Lube Checked",
						"type": "nvarchar"
					},
					{
						"name": "Jaw Lube Checked Sig",
						"type": "nvarchar"
					},
					{
						"name": "Manual Jog 1x Bottle",
						"type": "nvarchar"
					},
					{
						"name": "MF Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Number on tag(s) Filters",
						"type": "nvarchar"
					},
					{
						"name": "Number on tag(s) Sig",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Plain / Printed",
						"type": "nvarchar"
					},
					{
						"name": "Plain/Printed Sig",
						"type": "nvarchar"
					},
					{
						"name": "Product line check sig",
						"type": "nvarchar"
					},
					{
						"name": "Refract BTL",
						"type": "nvarchar"
					},
					{
						"name": "Refract Tank",
						"type": "nvarchar"
					},
					{
						"name": "Rinser Medium",
						"type": "nvarchar"
					},
					{
						"name": "Rinser Medium Sig",
						"type": "nvarchar"
					},
					{
						"name": "Rollers Lubed",
						"type": "nvarchar"
					},
					{
						"name": "Run",
						"type": "uniqueidentifier"
					},
					{
						"name": "Sample Attached to Spec Sheet",
						"type": "nvarchar"
					},
					{
						"name": "Spec sheet read and signed sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Filter Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Finish",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Membrane Integrity",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Process",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization process Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization RF Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Rinser Integrity",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Run End",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Run Start",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Start",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Temperature",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Thread Rollers H1",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H2",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H3",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H4",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H5",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers  H5",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H1",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H2",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H3",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H4",
						"type": "nvarchar"
					},
					{
						"name": "Visual Colour Match BTL",
						"type": "nvarchar"
					},
					{
						"name": "Visual Colour Match Tank",
						"type": "nvarchar"
					},
					{
						"name": "Wine pump (Select & Sign)",
						"type": "nvarchar"
					},
					{
						"name": "Wine pump sig",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Density Bottles",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Limits Rejecting",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Set On",
						"type": "nvarchar"
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Filler operation"
				}
			},
			"dependsOn": []
		}
	]
}