Azure-Data-Factory/templates/Hourly Labelling Logsheet/Hourly Labelling Logsheet.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"WWSQL003": {
			"type": "string"
		},
		"DataVerse": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Hourly Labelling Logsheet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hourly Labelling Logsheet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_key",
											"type": "String"
										},
										"sink": {
											"name": "Key",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rdlabel",
											"type": "Int32"
										},
										"sink": {
											"name": "3rd Label",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_thirdlabelheightposition",
											"type": "String"
										},
										"sink": {
											"name": "3rd label height/position",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_thlabel",
											"type": "Int32"
										},
										"sink": {
											"name": "4th Label",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fourthlabelheightposition",
											"type": "String"
										},
										"sink": {
											"name": "4th label height/position",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelheight",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelleanlessthan1mmltor",
											"type": "Int32"
										},
										"sink": {
											"name": "Back Label lean less than 1mm L to R",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_backlabellotcodeinkjet",
											"type": "String"
										},
										"sink": {
											"name": "Back label lot code / inkjet code required",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabellotcodeinkjetcodesampletaken",
											"type": "Int32"
										},
										"sink": {
											"name": "Back label lot code / inkjet code sample taken",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_backlabellotcodeinkjethourlycodecheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Back label lot code / inkjet Hourly code check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottleandcapscleansig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle and Caps Clean",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonclosurelessthan10mm",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton closure less than 10mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartonfibretear",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton fibre tear",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjetcorrectcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton Inkjet Correct Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartonlabel",
											"type": "String"
										},
										"sink": {
											"name": "Carton Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonlabelsig",
											"type": "String"
										},
										"sink": {
											"name": "Carton Label Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonskewlessthan10mm",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton skew less than 10mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartonssig",
											"type": "String"
										},
										"sink": {
											"name": "Cartons Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closuresacceptablefinishsig",
											"type": "String"
										},
										"sink": {
											"name": "Closures Acceptable Finish Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_dividersils",
											"type": "Int32"
										},
										"sink": {
											"name": "Dividers ILS",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_edgeadhesiontestpass",
											"type": "Int32"
										},
										"sink": {
											"name": "Edge adhesion test",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_labelfrontheight",
											"type": "String"
										},
										"sink": {
											"name": "Front Label Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labelleanlessthan1mmltor",
											"type": "Int32"
										},
										"sink": {
											"name": "Front Label lean less than 1mm L to R",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_labeldamageruborpick",
											"type": "String"
										},
										"sink": {
											"name": "Label Damage, Rub or Pick",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labelssig",
											"type": "String"
										},
										"sink": {
											"name": "Labels Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeclearandlegiblesig",
											"type": "String"
										},
										"sink": {
											"name": "Laser Code Clear and Legible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sidegaplessthat4mm",
											"type": "Int32"
										},
										"sink": {
											"name": "Side Gap less that 4mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_slipsheetscorrectplacement",
											"type": "Int32"
										},
										"sink": {
											"name": "Slipsheets Correct Placement",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_wrinklesflutesbubblesorcreases",
											"type": "String"
										},
										"sink": {
											"name": "Wrinkles / Flutes, Bubbles or creases",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_hourlylabellinglogsheetid",
											"type": "Guid"
										},
										"sink": {
											"name": "Hourly Labelling Logsheet",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "HourlyLabellingLogsheet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_HourlyLabellingLogsheet",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hourly Labelling Logsheet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Hourly Labelling Logsheet]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('WWSQL003')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HourlyLabellingLogsheet')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_HourlyLabellingLogsheet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HourlyLabellingLogsheet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataVerse')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_hourlylabellinglogsheet"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_HourlyLabellingLogsheet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('WWSQL003')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hourly Labelling Logsheet"
				}
			},
			"dependsOn": []
		}
	]
}