Azure-Data-Factory/templates/Operator Bottling Preflight/Operator Bottling Preflight.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"WWSQL003_DataverseDev": {
			"type": "string"
		},
		"DataverseDev": {
			"type": "string"
		},
		"WWSQL003_Dataverse_Staging": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Operator Bottling Preflight')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Operator Bottling Preflight",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_ccp1starttherun",
											"type": "DateTime"
										},
										"sink": {
											"name": "CCP1 Start the Run",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "crc5d_ccp1starttherunsig",
											"type": "String"
										},
										"sink": {
											"name": "CCP1 Start the Run Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_donotstartrununtilccp1completesig",
											"type": "String"
										},
										"sink": {
											"name": "Do not start run until CCP1 complete Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filterintegrityverification",
											"type": "String"
										},
										"sink": {
											"name": "Filter Integrity Verification",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_membraneintegrity",
											"type": "String"
										},
										"sink": {
											"name": "Membrane Integrity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_integrityverificationsig",
											"type": "String"
										},
										"sink": {
											"name": "MF Integrity Verification Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "crc5d_organicproduct",
											"type": "Int32"
										},
										"sink": {
											"name": "Organic Product",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "crc5d_organicproductsig",
											"type": "String"
										},
										"sink": {
											"name": "Organic product Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_rfintegrityverificationsig",
											"type": "String"
										},
										"sink": {
											"name": "RF Integrity verification Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserintegrity",
											"type": "String"
										},
										"sink": {
											"name": "Rinser Integrity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_runend",
											"type": "DateTime"
										},
										"sink": {
											"name": "Run End",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "crc5d_runstart",
											"type": "DateTime"
										},
										"sink": {
											"name": "Run Start",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "crc5d_sterilizationfinish",
											"type": "DateTime"
										},
										"sink": {
											"name": "Sterilization Finish",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationprocesssig",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization process Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_sterilizationstart",
											"type": "DateTime"
										},
										"sink": {
											"name": "Sterilization Start",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "crc5d_sterilizationtemperature",
											"type": "Decimal"
										},
										"sink": {
											"name": "Sterilization Temperature",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorbottlingid",
											"type": "Guid"
										},
										"sink": {
											"name": "Operator Bottling",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OperatorBottlingPreflight",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_OperatorBottlingPreflight",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Operator Bottling Preflight",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Operator Bottling Preflight]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('WWSQL003_DataverseDev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OperatorBottlingPreflight')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_OperatorBottlingPreflight')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OperatorBottlingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataverseDev')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_operatorbottling"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_OperatorBottlingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('WWSQL003_Dataverse_Staging')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Operator Bottling Preflight"
				}
			},
			"dependsOn": []
		}
	]
}