Azure-Data-Factory/templates/Labelling Preflight/Labelling Preflight.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"WWSQL003_DataverseDev": {
			"type": "string"
		},
		"DataverseDev": {
			"type": "string"
		},
		"WWSQL003_Dataverse_Staging": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Labelling Preflight')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Labelling Preflight",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_thirdlabel",
											"type": "String"
										},
										"sink": {
											"name": "3rd Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fourthlabel",
											"type": "String"
										},
										"sink": {
											"name": "4th Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabel",
											"type": "String"
										},
										"sink": {
											"name": "Back Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabeladditionaltext",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Additional Text",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelinkjetcode",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Inkjet Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelinkjetplacement",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Inkjet Placement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bominstructionsforthisrun",
											"type": "String"
										},
										"sink": {
											"name": "BOM Instructions for this Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomspecificinstructions",
											"type": "String"
										},
										"sink": {
											"name": "BOM Specific Instructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonilscode",
											"type": "String"
										},
										"sink": {
											"name": "Carton ILS Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjet",
											"type": "String"
										},
										"sink": {
											"name": "Carton Inkjet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjetplacement",
											"type": "String"
										},
										"sink": {
											"name": "Carton Inkjet Placement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonlabels",
											"type": "String"
										},
										"sink": {
											"name": "Carton Labels",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartons",
											"type": "String"
										},
										"sink": {
											"name": "Cartons",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closuresilscodecorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "Closures ILS Code Correct Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_divider",
											"type": "String"
										},
										"sink": {
											"name": "Divider",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_dividersilscode",
											"type": "String"
										},
										"sink": {
											"name": "Dividers ILS Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_extraitem",
											"type": "String"
										},
										"sink": {
											"name": "Extra Item",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_extraitem2",
											"type": "String"
										},
										"sink": {
											"name": "Extra Item2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_frontlabel",
											"type": "String"
										},
										"sink": {
											"name": "Front Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_genericclientinstructions",
											"type": "String"
										},
										"sink": {
											"name": "Generic Client Instructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labeldetectionon",
											"type": "Int32"
										},
										"sink": {
											"name": "Label detection ON",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labelpositionamended",
											"type": "String"
										},
										"sink": {
											"name": "Label Position Amended",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeonbottle",
											"type": "String"
										},
										"sink": {
											"name": "Laser code on bottle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lineclearfrompreviousjob",
											"type": "Int32"
										},
										"sink": {
											"name": "Line clear from previous job",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pallet",
											"type": "String"
										},
										"sink": {
											"name": "Pallet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletnumber",
											"type": "String"
										},
										"sink": {
											"name": "Pallet Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pallettypecheckedsig",
											"type": "String"
										},
										"sink": {
											"name": "Pallet Type Checked Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletscorrecttospec",
											"type": "Int32"
										},
										"sink": {
											"name": "Pallets Correct to Spec",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sampleattachedtospec",
											"type": "Int32"
										},
										"sink": {
											"name": "Sample attached to spec",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_slipsheet",
											"type": "String"
										},
										"sink": {
											"name": "Slip Sheet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stacking",
											"type": "String"
										},
										"sink": {
											"name": "Stacking",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_startupinitial",
											"type": "String"
										},
										"sink": {
											"name": "Start up initial",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_startuptime",
											"type": "DateTime"
										},
										"sink": {
											"name": "Start up time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_weighalarmon",
											"type": "Int32"
										},
										"sink": {
											"name": "Weigh alarm ON",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_workorderinstructions",
											"type": "String"
										},
										"sink": {
											"name": "Work Order Instructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_labellingpreflightid",
											"type": "Guid"
										},
										"sink": {
											"name": "Labelling Preflight",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LabellingPreflight",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003LabellingPreflight",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Labelling Preflight",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Labelling Preflight]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('WWSQL003_DataverseDev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LabellingPreflight')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003LabellingPreflight')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LabellingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataverseDev')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_labellingpreflight"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003LabellingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('WWSQL003_Dataverse_Staging')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Labelling Preflight"
				}
			},
			"dependsOn": []
		}
	]
}