Azure-Data-Factory/templates/Pre-bottling Analysis Sulphur Adjustments/Pre-bottling Analysis Sulphur Adjustments.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"WWSQL003_DataverseDev": {
			"type": "string"
		},
		"DataverseDev": {
			"type": "string"
		},
		"WWSQL003_Dataverse_Staging": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pre-bottling Analysis Sulphur Adjustments')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pre-bottling Analysis Sulphur Adjustments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_pbasulphuradjustmentsname",
											"type": "String"
										},
										"sink": {
											"name": "PBA  Sulphur Adjustments Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_etxt",
											"type": "Boolean"
										},
										"sink": {
											"name": "etxt",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_initial1",
											"type": "Int32"
										},
										"sink": {
											"name": "Initial 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_initial2",
											"type": "Int32"
										},
										"sink": {
											"name": "Initial 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pmsg",
											"type": "Decimal"
										},
										"sink": {
											"name": "PMS (g)",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_pms_batch",
											"type": "String"
										},
										"sink": {
											"name": "PMS Batch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pmsbatchexpirydate",
											"type": "DateTime"
										},
										"sink": {
											"name": "PMS Batch expiry date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_requiredso2result",
											"type": "Decimal"
										},
										"sink": {
											"name": "Required SO2 Result",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_retestresult",
											"type": "Decimal"
										},
										"sink": {
											"name": "Retest Result",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_so2increasesppm",
											"type": "Decimal"
										},
										"sink": {
											"name": "SO2 Increases PPM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_spargetime",
											"type": "String"
										},
										"sink": {
											"name": "Sparge Time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_winevolume",
											"type": "Decimal"
										},
										"sink": {
											"name": "Wine Volume",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysissulphuradjid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-bottling Analysis Sulphur Adjustments",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PrebottlingAnalysisSulphurAdjustments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PrebottlingAnalysisSulphurAdjustments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pre-bottling Analysis Sulphur Adjustments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Hourly Labelling Logsheet]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('WWSQL003_DataverseDev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PrebottlingAnalysisSulphurAdjustments')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_PrebottlingAnalysisSulphurAdjustments')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PrebottlingAnalysisSulphurAdjustments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataverseDev')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_prebottlinganalysissulphuradj"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_PrebottlingAnalysisSulphurAdjustments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('WWSQL003_Dataverse_Staging')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "PBA  Sulphur Adjustments Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer Tank Name",
						"type": "nvarchar"
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "etxt",
						"type": "bit"
					},
					{
						"name": "Initial 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Initial 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Operator",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PMS (g)",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "PMS Batch",
						"type": "nvarchar"
					},
					{
						"name": "PMS Batch expiry date",
						"type": "date"
					},
					{
						"name": "Required SO2 Result",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Retest Result",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Run Name",
						"type": "nvarchar"
					},
					{
						"name": "Tank Name",
						"type": "nvarchar"
					},
					{
						"name": "SO2 Increases PPM",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Sparge Time",
						"type": "nvarchar"
					},
					{
						"name": "Wine Volume",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Pre-bottling Analysis Sulphur Adjustments",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Pre-bottling Analysis Sulphur Adjustments"
				}
			},
			"dependsOn": []
		}
	]
}