Azure-Data-Factory/templates/Pre-Bottling Analysis/Pre-Bottling Analysis.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"WWSQL003_DataverseDev": {
			"type": "string"
		},
		"DataverseDev": {
			"type": "string"
		},
		"WWSQL003_Dataverse_Staging": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pre-Bottling Analysis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pre-Bottling Analysis",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_prebottlinganalysissummaryname",
											"type": "String"
										},
										"sink": {
											"name": "Pre-Bottling Analysis Summary Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alc",
											"type": "Int32"
										},
										"sink": {
											"name": "ALC %",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alcnum",
											"type": "Decimal"
										},
										"sink": {
											"name": "ALC % Num",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_alcohol",
											"type": "Boolean"
										},
										"sink": {
											"name": "Alcohol %",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alcbydistil",
											"type": "Boolean"
										},
										"sink": {
											"name": "Alcohol By Distil",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alcoholbydistillation",
											"type": "String"
										},
										"sink": {
											"name": "Alcohol By Distillation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_basedo",
											"type": "Decimal"
										},
										"sink": {
											"name": "Base DO",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "CO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_density",
											"type": "Decimal"
										},
										"sink": {
											"name": "Density",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fi",
											"type": "Decimal"
										},
										"sink": {
											"name": "FI",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_initials",
											"type": "String"
										},
										"sink": {
											"name": "Initials",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_initialscheck",
											"type": "String"
										},
										"sink": {
											"name": "Initials Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ph",
											"type": "Decimal"
										},
										"sink": {
											"name": "pH",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_so2f",
											"type": "Decimal"
										},
										"sink": {
											"name": "SO2F",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tankvolume",
											"type": "Int32"
										},
										"sink": {
											"name": "Tank Volume",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tanker Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_temp",
											"type": "Decimal"
										},
										"sink": {
											"name": "Temp",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_ts02",
											"type": "Int32"
										},
										"sink": {
											"name": "TS02",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_ts02num",
											"type": "Decimal"
										},
										"sink": {
											"name": "TS02 Num",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tso2",
											"type": "Boolean"
										},
										"sink": {
											"name": "TSO2",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-Bottling Analysis",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PreBottlingAnalysis",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PreBottlingAnalysis",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Pre-Bottling Analysis]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('WWSQL003_DataverseDev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PreBottlingAnalysis')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_PreBottlingAnalysis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PreBottlingAnalysis')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataverseDev')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_prebottlinganalysis"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_PreBottlingAnalysis')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('WWSQL003_Dataverse_Staging')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Pre-Bottling Analysis Summary Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ALC %",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ALC % Num",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Alcohol %",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Alcohol By Distil",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Alcohol By Distillation",
						"type": "nvarchar"
					},
					{
						"name": "Base DO",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "CO2",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Customer Tank Name",
						"type": "nvarchar"
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Density",
						"type": "decimal",
						"precision": 5,
						"scale": 5
					},
					{
						"name": "FI",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Initials",
						"type": "nvarchar"
					},
					{
						"name": "Initials Check",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Operator",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pH",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Run Number",
						"type": "nvarchar"
					},
					{
						"name": "SO2F",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Tank Volume",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tanker Name",
						"type": "nvarchar"
					},
					{
						"name": "Temp",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "TS02",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TS02 Num",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "TSO2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Pre-Bottling Analysis",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Pre-Bottling Analysis"
				}
			},
			"dependsOn": []
		}
	]
}