DataVerseToSQL/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pre-Bottling Analysis Recheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pre-Bottling Analysis Recheck",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_prebottlinganalysisrechecksummaryname",
											"type": "String"
										},
										"sink": {
											"name": "Pre-Bottling Analysis Recheck Summary Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tanker Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_alc",
											"type": "Int32"
										},
										"sink": {
											"name": "ALC %",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alcnum",
											"type": "Decimal"
										},
										"sink": {
											"name": "ALC % Num",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_basedo",
											"type": "Decimal"
										},
										"sink": {
											"name": "Base DO",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "CO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_distill",
											"type": "Int32"
										},
										"sink": {
											"name": "Distill",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_distillnum",
											"type": "Decimal"
										},
										"sink": {
											"name": "Distill #",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_extraanalysis",
											"type": "String"
										},
										"sink": {
											"name": "Extra Analysis",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fso2",
											"type": "Decimal"
										},
										"sink": {
											"name": "FSO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_initials",
											"type": "String"
										},
										"sink": {
											"name": "Initials",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_temp",
											"type": "Decimal"
										},
										"sink": {
											"name": "Temp",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tso2",
											"type": "Int32"
										},
										"sink": {
											"name": "TSO2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tso2mg",
											"type": "Decimal"
										},
										"sink": {
											"name": "TSO2 mg",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisrecheckid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-Bottling Analysis Recheck",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PreBottlingAnalysisRecheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PreBottlingAnalysisRecheck",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis Recheck",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Operator Bottling Preflight]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis Recheck",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pre-Bottling Analysis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pre-Bottling Analysis",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_prebottlinganalysissummaryname",
											"type": "String"
										},
										"sink": {
											"name": "Pre-Bottling Analysis Summary Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alc",
											"type": "Int32"
										},
										"sink": {
											"name": "ALC %",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alcnum",
											"type": "Decimal"
										},
										"sink": {
											"name": "ALC % Num",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_alcohol",
											"type": "Boolean"
										},
										"sink": {
											"name": "Alcohol %",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alcoholbydistillation",
											"type": "String"
										},
										"sink": {
											"name": "Alcohol By Distillation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_basedo",
											"type": "Decimal"
										},
										"sink": {
											"name": "Base DO",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "CO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_density",
											"type": "Decimal"
										},
										"sink": {
											"name": "Density",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fi",
											"type": "Decimal"
										},
										"sink": {
											"name": "FI",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_initials",
											"type": "String"
										},
										"sink": {
											"name": "Initials",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_initialscheck",
											"type": "String"
										},
										"sink": {
											"name": "Initials Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ph",
											"type": "Decimal"
										},
										"sink": {
											"name": "pH",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_so2f",
											"type": "Decimal"
										},
										"sink": {
											"name": "SO2F",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tankvolume",
											"type": "Int32"
										},
										"sink": {
											"name": "Tank Volume",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tanker Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_temp",
											"type": "Decimal"
										},
										"sink": {
											"name": "Temp",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_ts02",
											"type": "Int32"
										},
										"sink": {
											"name": "TS02",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_ts02num",
											"type": "Decimal"
										},
										"sink": {
											"name": "TS02 Num",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tso2",
											"type": "Boolean"
										},
										"sink": {
											"name": "TSO2",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-Bottling Analysis",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "Run",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PreBottlingAnalysis",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PreBottlingAnalysis",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Pre-Bottling Analysis]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pre-bottling Analysis Sulphur Adjustments')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pre-bottling Analysis Sulphur Adjustments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_pbasulphuradjustmentsname",
											"type": "String"
										},
										"sink": {
											"name": "PBA  Sulphur Adjustments Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_etxt",
											"type": "Boolean"
										},
										"sink": {
											"name": "etxt",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_initial1",
											"type": "Int32"
										},
										"sink": {
											"name": "Initial 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_initial2",
											"type": "Int32"
										},
										"sink": {
											"name": "Initial 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pmsg",
											"type": "Decimal"
										},
										"sink": {
											"name": "PMS (g)",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_pms_batch",
											"type": "String"
										},
										"sink": {
											"name": "PMS Batch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pmsbatchexpirydate",
											"type": "DateTime"
										},
										"sink": {
											"name": "PMS Batch expiry date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_requiredso2result",
											"type": "Decimal"
										},
										"sink": {
											"name": "Required SO2 Result",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_retestresult",
											"type": "Decimal"
										},
										"sink": {
											"name": "Retest Result",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_so2increasesppm",
											"type": "Decimal"
										},
										"sink": {
											"name": "SO2 Increases PPM",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_spargetime",
											"type": "String"
										},
										"sink": {
											"name": "Sparge Time",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_winevolume",
											"type": "Decimal"
										},
										"sink": {
											"name": "Wine Volume",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysissulphuradjid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-bottling Analysis Sulphur Adjustments",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PrebottlingAnalysisSulphurAdjustments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PrebottlingAnalysisSulphurAdjustments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pre-bottling Analysis Sulphur Adjustments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Hourly Labelling Logsheet]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Pre-bottling Analysis Sulphur Adjustments",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PrebottlingAnalysisGasAdjustments')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PrebottlingAnalysisGasAdjustments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_pbagasadjustmentsname",
											"type": "String"
										},
										"sink": {
											"name": "PBA Gas Adjustments Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_adjustmentoff",
											"type": "DateTime"
										},
										"sink": {
											"name": "Adjustment Off",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_adjustmenton",
											"type": "DateTime"
										},
										"sink": {
											"name": "Adjustment On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_co2retest",
											"type": "String"
										},
										"sink": {
											"name": "CO2 Retest",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_doorco2",
											"type": "Int32"
										},
										"sink": {
											"name": "DO or CO2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_dorestest",
											"type": "Decimal"
										},
										"sink": {
											"name": "DO Restest",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_etxt",
											"type": "Boolean"
										},
										"sink": {
											"name": "etxt",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_gas_used",
											"type": "Int32"
										},
										"sink": {
											"name": "Gas Used",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_off",
											"type": "String"
										},
										"sink": {
											"name": "Off",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_on",
											"type": "String"
										},
										"sink": {
											"name": "On",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_resultrequired",
											"type": "Decimal"
										},
										"sink": {
											"name": "Result Required",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tanker Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalsparging",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Sparging",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisgasadjustmentsid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-bottling Analysis Gas Adjustments",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PrebottlingAnalysisGasAdjustments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PrebottlingAnalysisGasAdjustments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PrebottlingAnalysisGasAdjustments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Pre-bottling Analysis Gas Adjustments]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "PrebottlingAnalysisGasAdjustments",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run Report - BottleLabelPack')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run Report - BottleLabelPack",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "Bill of Materials ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cases1",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases2",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases3",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases4",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases5",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal1",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal2",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal3",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal4",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal5",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_internalnotes",
											"type": "String"
										},
										"sink": {
											"name": "Internal Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins1",
											"type": "Int32"
										},
										"sink": {
											"name": "Pallets / Bins 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins2",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins3",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins4",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins5",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining2",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining3",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining4",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining5",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pluscasesdispatchedoffline",
											"type": "Decimal"
										},
										"sink": {
											"name": "Plus Cases dispatched off line",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_productionnotes",
											"type": "String"
										},
										"sink": {
											"name": "Production Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_runcompleted",
											"type": "String"
										},
										"sink": {
											"name": "Run Completed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runreportsig",
											"type": "String"
										},
										"sink": {
											"name": "Run Report Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalcasesproduced",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Cases Produced",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_totalcasestowarehouse",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Cases To Warehouse",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_runreportbottlelabelpackid",
											"type": "Guid"
										},
										"sink": {
											"name": "Run Report - Bottle/Label/Pack",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Material",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RunReportBottleLabelPack",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_RunReportBottleLabelPack",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Run Report - Bottle/Label/Pack]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_runid",
											"type": "Guid"
										},
										"sink": {
											"name": "Run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runnumber",
											"type": "String"
										},
										"sink": {
											"name": "RunNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rundate",
											"type": "DateTime"
										},
										"sink": {
											"name": "RunDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_workorderid",
											"type": "Int32"
										},
										"sink": {
											"name": "WorkOrderID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_workordertype",
											"type": "String"
										},
										"sink": {
											"name": "WorkOrderType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_vintage",
											"type": "String"
										},
										"sink": {
											"name": "Vintage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_variety",
											"type": "String"
										},
										"sink": {
											"name": "Variety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runproductionlinename",
											"type": "String"
										},
										"sink": {
											"name": "ProductionLine",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Run",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Run",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Run]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Run",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Filler Operation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Filler Operator",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_filleroperationid",
											"type": "Guid"
										},
										"sink": {
											"name": "Filler operation ID",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_airramscrewcapper",
											"type": "Int32"
										},
										"sink": {
											"name": "Air Ram Screw Capper",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_airramscrewcappersig",
											"type": "String"
										},
										"sink": {
											"name": "Air Ram Screw Capper Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_alcoholsterilisation",
											"type": "Int32"
										},
										"sink": {
											"name": "Alcohol Sterilisation",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alcoholsterilisationsig",
											"type": "String"
										},
										"sink": {
											"name": "Alcohol Sterilisation Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_allfilterspresent",
											"type": "Int32"
										},
										"sink": {
											"name": "All Filters Present",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_blbottlecodeandguiderailsset",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Code and Guide Rails Set",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_blbottlecoderrunningandlegible",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Coder Running and Legible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccbrand",
											"type": "String"
										},
										"sink": {
											"name": "Brand",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccbrandsig",
											"type": "String"
										},
										"sink": {
											"name": "Brand Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccp1starttheruncheck",
											"type": "String"
										},
										"sink": {
											"name": "CCP1 Start the Run Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccp1starttherunchecktime",
											"type": "DateTime"
										},
										"sink": {
											"name": "CCP1 Start the Run Check Time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_closurehopperempty",
											"type": "Int32"
										},
										"sink": {
											"name": "Closure Hopper Empty",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_closurehopperemptysig",
											"type": "String"
										},
										"sink": {
											"name": "Closure Hopper Empty Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccclosuretype",
											"type": "String"
										},
										"sink": {
											"name": "Closure Type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccclosuretypesig",
											"type": "String"
										},
										"sink": {
											"name": "Closure Type Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_blcodeheight",
											"type": "String"
										},
										"sink": {
											"name": "Code Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cccolour",
											"type": "String"
										},
										"sink": {
											"name": "Colour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cccoloursig",
											"type": "String"
										},
										"sink": {
											"name": "Colour Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_contactpointsforglassfrag",
											"type": "String"
										},
										"sink": {
											"name": "Contact points for glass frag",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cccorkgradesize",
											"type": "String"
										},
										"sink": {
											"name": "Cork Grade/Size",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cccorkgradesizesig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Grade/Size Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corkerheadspacepressure",
											"type": "String"
										},
										"sink": {
											"name": "Corker Headspace Pressure",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corkerplungersset",
											"type": "String"
										},
										"sink": {
											"name": "Corker Plungers Set",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_corkervacuumon",
											"type": "String"
										},
										"sink": {
											"name": "Corker Vacuum on",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_correctfilters",
											"type": "String"
										},
										"sink": {
											"name": "Correct Filters",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_correctwineisbottled",
											"type": "String"
										},
										"sink": {
											"name": "Correct wine is bottled sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_blcountzeroed",
											"type": "String"
										},
										"sink": {
											"name": "Count Zeroed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_donotstartrununtilccp1iscomplete",
											"type": "String"
										},
										"sink": {
											"name": "Do not start run until CCP1 is complete",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_donotstartrununtilccp1iscompletetime",
											"type": "DateTime"
										},
										"sink": {
											"name": "Do not start run until CCP1 is complete Time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_docketvessel",
											"type": "Int32"
										},
										"sink": {
											"name": "Docket & Vessel",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_docketvesselsig",
											"type": "String"
										},
										"sink": {
											"name": "Docket & Vessel Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_endofruncomments",
											"type": "String"
										},
										"sink": {
											"name": "End of Run Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_eorbottlecount",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Bottle Count",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorbottlingto",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Bottling To",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorchecktime",
											"type": "DateTime"
										},
										"sink": {
											"name": "EOR Check Time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_eorflowmetercheck",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Flow Meter Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorglassfragmentscheck",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Glass Fragments Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorinbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR In Bottle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorrinseheadinspection",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Rinse head inspection",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorrinseheadmedium",
											"type": "Int32"
										},
										"sink": {
											"name": "EOR Rinse head medium",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_eorrinsergaswatersupplyline1",
											"type": "Decimal"
										},
										"sink": {
											"name": "EOR Rinser Gas/Water Supply Line1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_eorrinsergaswatersupplyline2",
											"type": "Decimal"
										},
										"sink": {
											"name": "EOR Rinser Gas/Water Supply Line2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_eorrinserpressurefluctuations",
											"type": "Decimal"
										},
										"sink": {
											"name": "EOR Rinser Pressure Fluctuations",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillheights",
											"type": "String"
										},
										"sink": {
											"name": "Fill Heights",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillercentringbellssealscheck",
											"type": "String"
										},
										"sink": {
											"name": "Filler Centring Bells/Seals Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillerfillstemssterile",
											"type": "String"
										},
										"sink": {
											"name": "Filler Fill Stems Sterile",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filleroperation",
											"type": "String"
										},
										"sink": {
											"name": "Filler Operation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fillervacuumon",
											"type": "String"
										},
										"sink": {
											"name": "Filler Vacuum On",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_filtrationcharges",
											"type": "String"
										},
										"sink": {
											"name": "Filtration Charges",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fliesinthefillerroom",
											"type": "Boolean"
										},
										"sink": {
											"name": "Flies in the filler room",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_flies",
											"type": "String"
										},
										"sink": {
											"name": "Flies sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_glassbottlecheck",
											"type": "String"
										},
										"sink": {
											"name": "Glass Bottle Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_glassfrag",
											"type": "Int32"
										},
										"sink": {
											"name": "Glass Frag",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_glassfragsig",
											"type": "String"
										},
										"sink": {
											"name": "Glass Frag Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_glasspumpcheck",
											"type": "String"
										},
										"sink": {
											"name": "Glass pump check sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccilscodesig",
											"type": "String"
										},
										"sink": {
											"name": "ILS Code Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccilscode",
											"type": "String"
										},
										"sink": {
											"name": "ILSCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_inertgastofillerbowl",
											"type": "String"
										},
										"sink": {
											"name": "Inert Gas to Filler Bowl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_inertgastorinser",
											"type": "String"
										},
										"sink": {
											"name": "Inert Gas to Rinser",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_inertgastotanker",
											"type": "String"
										},
										"sink": {
											"name": "Inert Gas to Tanker",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_isthisanorganicproduct",
											"type": "Int32"
										},
										"sink": {
											"name": "Is this an Organic product",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_jawlubechecked",
											"type": "Int32"
										},
										"sink": {
											"name": "Jaw Lube Checked",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_jawlubecheckedsig",
											"type": "String"
										},
										"sink": {
											"name": "Jaw Lube Checked Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_manualjogbottle",
											"type": "String"
										},
										"sink": {
											"name": "Manual Jog 1x Bottle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_mfintegrityverificationsig",
											"type": "String"
										},
										"sink": {
											"name": "MF Integrity Verification Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_numberontagsfilters",
											"type": "String"
										},
										"sink": {
											"name": "Number on tag(s) Filters",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_numberontagssig",
											"type": "String"
										},
										"sink": {
											"name": "Number on tag(s) Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_ccplainprinted",
											"type": "String"
										},
										"sink": {
											"name": "Plain / Printed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ccplainprintedsig",
											"type": "String"
										},
										"sink": {
											"name": "Plain/Printed Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_productlinecheck",
											"type": "String"
										},
										"sink": {
											"name": "Product line check sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_refractbtl",
											"type": "String"
										},
										"sink": {
											"name": "Refract BTL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_refracttank",
											"type": "String"
										},
										"sink": {
											"name": "Refract Tank",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_rinsermedium",
											"type": "Int32"
										},
										"sink": {
											"name": "Rinser Medium",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "crc5d_rinsermediumsig",
											"type": "String"
										},
										"sink": {
											"name": "Rinser Medium Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "Run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_blsampleattachedtospecsheet",
											"type": "String"
										},
										"sink": {
											"name": "Sample Attached to Spec Sheet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_specsheetreadandsigned",
											"type": "String"
										},
										"sink": {
											"name": "Spec sheet read and signed sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationfilterintegrityverification",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization Filter Integrity Verification Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationfinish",
											"type": "DateTime"
										},
										"sink": {
											"name": "Sterilization Finish",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationmembraneintegrity",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization Membrane Integrity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationprocess",
											"type": "Int32"
										},
										"sink": {
											"name": "Sterilization Process",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationprocesssig",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization process Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationrfintegrityverificationsig",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization RF Integrity Verification Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationrinserintegrity",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization Rinser Integrity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationstart",
											"type": "DateTime"
										},
										"sink": {
											"name": "Sterilization Start",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationtemperature",
											"type": "Decimal"
										},
										"sink": {
											"name": "Sterilization Temperature",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_threadrollersh1",
											"type": "String"
										},
										"sink": {
											"name": "Thread Rollers H1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_threadrollersh2",
											"type": "String"
										},
										"sink": {
											"name": "Thread Rollers H2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_threadrollersh3",
											"type": "String"
										},
										"sink": {
											"name": "Thread Rollers H3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_threadrollersh4",
											"type": "String"
										},
										"sink": {
											"name": "Thread Rollers H4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_threadrollersh5",
											"type": "String"
										},
										"sink": {
											"name": "Thread Rollers H5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tuckrollersh5",
											"type": "String"
										},
										"sink": {
											"name": "Tuck Rollers  H5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tuckrollersh1",
											"type": "String"
										},
										"sink": {
											"name": "Tuck Rollers H1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tuckrollersh2",
											"type": "String"
										},
										"sink": {
											"name": "Tuck Rollers H2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tuckrollersh3",
											"type": "String"
										},
										"sink": {
											"name": "Tuck Rollers H3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tuckrollersh4",
											"type": "String"
										},
										"sink": {
											"name": "Tuck Rollers H4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_visualcolourmatchtankbtl",
											"type": "Int32"
										},
										"sink": {
											"name": "Visual Colour Match Tank/BTL",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_winepump",
											"type": "Int32"
										},
										"sink": {
											"name": "Wine pump (Select & Sign)",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_winepumpsig",
											"type": "String"
										},
										"sink": {
											"name": "Wine pump sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_xraydensitybottles",
											"type": "String"
										},
										"sink": {
											"name": "X Ray Density Bottles",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_xraylimitsrejecting",
											"type": "String"
										},
										"sink": {
											"name": "X Ray Limits Rejecting",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_xrayseton",
											"type": "String"
										},
										"sink": {
											"name": "X Ray Set On",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "FillerOperation",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_FillerOperation",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Filler Operator",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Filler Operation]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Filler Operator",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "Tejaswi.Datla@wineworks.co.nz"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every Hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "BOM",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Bottle Batch Rejects",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Bottle Batch Summary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Closure Batch Summary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Filler Operation",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Labelling Logsheet",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Operator Bottling",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Torque and Volume",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Label Change",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Labelling Issues",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Labelling Preflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Breakage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Downtime",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Preflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-bottling Analysis Sulphur Adjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-Bottling Analysis",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-Bottling Analysis Recheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PrebottlingAnalysisGasAdjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Run Report - BottleLabelPack",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2021-03-25T12:31:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Filler Operation')]",
				"[concat(variables('factoryId'), '/pipelines/Pre-bottling Analysis Sulphur Adjustments')]",
				"[concat(variables('factoryId'), '/pipelines/Pre-Bottling Analysis')]",
				"[concat(variables('factoryId'), '/pipelines/Pre-Bottling Analysis Recheck')]",
				"[concat(variables('factoryId'), '/pipelines/PrebottlingAnalysisGasAdjustments')]",
				"[concat(variables('factoryId'), '/pipelines/Run')]",
				"[concat(variables('factoryId'), '/pipelines/Run Report - BottleLabelPack')]"
			]
		}
	]
}