DataVerseToSQL/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PrebottlingAnalysisGasAdjustments')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PrebottlingAnalysisGasAdjustments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_pbagasadjustmentsname",
											"type": "String"
										},
										"sink": {
											"name": "PBA Gas Adjustments Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statuscode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_adjustmentoff",
											"type": "DateTime"
										},
										"sink": {
											"name": "Adjustment Off",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_adjustmenton",
											"type": "DateTime"
										},
										"sink": {
											"name": "Adjustment On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_co2retest",
											"type": "String"
										},
										"sink": {
											"name": "CO2 Retest",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_doorco2",
											"type": "Int32"
										},
										"sink": {
											"name": "DO or CO2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_dorestest",
											"type": "Decimal"
										},
										"sink": {
											"name": "DO Restest",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_etxt",
											"type": "Boolean"
										},
										"sink": {
											"name": "etxt",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_gas_used",
											"type": "Int32"
										},
										"sink": {
											"name": "Gas Used",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_off",
											"type": "String"
										},
										"sink": {
											"name": "Off",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_on",
											"type": "String"
										},
										"sink": {
											"name": "On",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_resultrequired",
											"type": "Decimal"
										},
										"sink": {
											"name": "Result Required",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tanker Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalsparging",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Sparging",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisgasadjustmentsid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-bottling Analysis Gas Adjustments",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_run",
											"type": "Guid"
										},
										"sink": {
											"name": "Run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookup",
											"type": "Guid"
										},
										"sink": {
											"name": "Tanker",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_productionline",
											"type": "Int32"
										},
										"sink": {
											"name": "ProductionLineId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Boolean"
										},
										"sink": {
											"name": "CO2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_co2gasused",
											"type": "Int32"
										},
										"sink": {
											"name": "CO2 Gas Used",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_co2resultrequired",
											"type": "String"
										},
										"sink": {
											"name": "CO2 Result Required",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_do",
											"type": "Boolean"
										},
										"sink": {
											"name": "DO",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_doadjustmenton",
											"type": "DateTime"
										},
										"sink": {
											"name": "DO Adjustment On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_doadjustmentoff",
											"type": "DateTime"
										},
										"sink": {
											"name": "DO Adjustment Off",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_dogasused",
											"type": "Int32"
										},
										"sink": {
											"name": "DO Gas Used",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookuptext",
											"type": "String"
										},
										"sink": {
											"name": "Tanker Lookup Text",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PrebottlingAnalysisGasAdjustments",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PrebottlingAnalysisGasAdjustments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PrebottlingAnalysisGasAdjustments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Pre-bottling Analysis Gas Adjustments]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "PrebottlingAnalysisGasAdjustments",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProductionLine')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ProductionLine",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_productionlinelookupid",
											"type": "Guid"
										},
										"sink": {
											"name": "ProductionLine",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_productionlineid",
											"type": "Int32"
										},
										"sink": {
											"name": "ProductionLineId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_productionlineshortname",
											"type": "String"
										},
										"sink": {
											"name": "ProductionLineName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sitename",
											"type": "String"
										},
										"sink": {
											"name": "Site",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ProductionLine",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_ProductionLine",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ProductionLine",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_ProductionLine]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ProductionLine",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run Report - BottleLabelPack')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run Report - BottleLabelPack",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "Bill of Materials ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cases1",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases2",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases3",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases4",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases5",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal1",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal2",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal3",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal4",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal5",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_internalnotes",
											"type": "String"
										},
										"sink": {
											"name": "Internal Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins1",
											"type": "Int32"
										},
										"sink": {
											"name": "Pallets / Bins 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins2",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins3",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins4",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins5",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining2",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining3",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining4",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining5",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pluscasesdispatchedoffline",
											"type": "Decimal"
										},
										"sink": {
											"name": "Plus Cases dispatched off line",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_productionnotes",
											"type": "String"
										},
										"sink": {
											"name": "Production Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_runcompleted",
											"type": "String"
										},
										"sink": {
											"name": "Run Completed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runreportsig",
											"type": "String"
										},
										"sink": {
											"name": "Run Report Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalcasesproduced",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Cases Produced",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_totalcasestowarehouse",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Cases To Warehouse",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_runreportbottlelabelpackid",
											"type": "Guid"
										},
										"sink": {
											"name": "Run Report - Bottle/Label/Pack",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Material",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RunReportBottleLabelPack",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_RunReportBottleLabelPack",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Run Report - Bottle/Label/Pack]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_runid",
											"type": "Guid"
										},
										"sink": {
											"name": "Run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runnumber",
											"type": "String"
										},
										"sink": {
											"name": "RunNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rundate",
											"type": "DateTime"
										},
										"sink": {
											"name": "RunDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_workorderid",
											"type": "Int32"
										},
										"sink": {
											"name": "WorkOrderID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_workordertype",
											"type": "String"
										},
										"sink": {
											"name": "WorkOrderType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_vintage",
											"type": "String"
										},
										"sink": {
											"name": "Vintage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_variety",
											"type": "String"
										},
										"sink": {
											"name": "Variety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runproductionline",
											"type": "Guid"
										},
										"sink": {
											"name": "ProductionLine",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Run",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Run",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Run]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Run",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Site')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Site",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_sitename",
											"type": "String"
										},
										"sink": {
											"name": "SiteName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_siterunnumberprefix",
											"type": "String"
										},
										"sink": {
											"name": "SiteRunNumberPrefix",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Statecode",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_siteidlookup",
											"type": "Int32"
										},
										"sink": {
											"name": "SiteId",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_wwsitecode",
											"type": "String"
										},
										"sink": {
											"name": "SiteCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_siteid",
											"type": "Guid"
										},
										"sink": {
											"name": "Site",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Site",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Site",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tanker')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tanker",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tankerid",
											"type": "Guid"
										},
										"sink": {
											"name": "TankerId",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_volume",
											"type": "Int32"
										},
										"sink": {
											"name": "Volume",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_site",
											"type": "Guid"
										},
										"sink": {
											"name": "Site",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Tanker",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Tanker]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Data Copy fail email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Tanker",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					},
					{
						"name": "SP Fail Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Merge Statement",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-24.australiasoutheast.logic.azure.com:443/workflows/d77213c4f1ec4ab89956fb3256ee6f0b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JdvR2R2i-AADVzAwGjO9cFUL5shYwrH-ITahY10Tw-0",
							"method": "POST",
							"headers": {},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "An error has occurred!",
								"ErrorMessage": "The ADF pipeline has crashed! Please check the logs.",
								"EmailTo": "itteam@wineworks.co.nz"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every Hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "BOM",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Bottle Batch Rejects",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Bottle Batch Summary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Closure Batch Summary",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Labelling Logsheet",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Operator Bottling",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Label Change",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Labelling Issues",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Labelling Preflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Breakage",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Downtime",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Operator Bottling Preflight",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-bottling Analysis Sulphur Adjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-Bottling Analysis",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Pre-Bottling Analysis Recheck",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PrebottlingAnalysisGasAdjustments",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Run",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Run Report - BottleLabelPack",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Hourly Torque and Volume",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "Filler Operation",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2021-03-25T12:31:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PrebottlingAnalysisGasAdjustments')]",
				"[concat(variables('factoryId'), '/pipelines/Run')]",
				"[concat(variables('factoryId'), '/pipelines/Run Report - BottleLabelPack')]"
			]
		}
	]
}