DataVerseToSQL/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003LabellingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Labelling Preflight"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BOM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Bill of Material",
						"type": "uniqueidentifier"
					},
					{
						"name": "BOM ID",
						"type": "nvarchar"
					},
					{
						"name": "Work Order ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bill of Materials"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BottleBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bottle Batch Summary"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_HourlyLabellingLogsheet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hourly Labelling Logsheet"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_HourlyOperatorBottling')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Authorised Sig",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bill of Materials ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Colour Sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottle laser sticker",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle laser sticker sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Number as Per Laser Coder",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Rub Mark",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Shape Sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottling from",
						"type": "nvarchar"
					},
					{
						"name": "Bottling to",
						"type": "nvarchar"
					},
					{
						"name": "Bowl Vacuum",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Check docket and physically check wine is run",
						"type": "nvarchar"
					},
					{
						"name": "Collect Export Samples",
						"type": "nvarchar"
					},
					{
						"name": "Corker Vacuum",
						"type": "nvarchar"
					},
					{
						"name": "Corker Vacuum -0.8 to -1.0bar",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Delete Line",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DO2 from Bottle",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "DO2 from vessel",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Export samples picked",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filler Head # ",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filler Speed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filter Differential",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Filtration Pressure Gauge",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Final Filter",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Flow Meter Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Foreign Body / Visual Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Gas feed to corker",
						"type": "nvarchar"
					},
					{
						"name": "Gas feed to corker 10 - 30kpa",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Gas Flow rate to Bowl (Line 2)",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Gas pressure to bottling tank",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Glass Fragments Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "In bottle",
						"type": "nvarchar"
					},
					{
						"name": "In tank",
						"type": "nvarchar"
					},
					{
						"name": "Laser code as per spec",
						"type": "nvarchar"
					},
					{
						"name": "Laser code on bottle",
						"type": "nvarchar"
					},
					{
						"name": "Lenticular Filter",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "N2 buffer vessel pressure",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Neck Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Pre Filter",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Prep Check 2",
						"type": "nvarchar"
					},
					{
						"name": "Prep Check 3",
						"type": "nvarchar"
					},
					{
						"name": "Prep Check Sig",
						"type": "nvarchar"
					},
					{
						"name": "Pump Speed",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rinse head inspection",
						"type": "nvarchar"
					},
					{
						"name": "Rinse head medium",
						"type": "nvarchar"
					},
					{
						"name": "Rinser Gas/Water Supply Line1",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rinser Gas/Water Supply Line2",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rinser Pressure Fluctuations",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rockstopper",
						"type": "nvarchar"
					},
					{
						"name": "Rockstopper Filter",
						"type": "nvarchar"
					},
					{
						"name": "Samples Sig",
						"type": "nvarchar"
					},
					{
						"name": "Stock Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Temperature",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Time of Authorised Audit Check",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Time of Check - Micro Sample Taken",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "X-Ray Challenge Test",
						"type": "nvarchar"
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "date"
					},
					{
						"name": "Operator Bottling Hourly",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill of Materials",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hourly Operator Bottling"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_HourlyTorqueandVolume')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Key",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Adjustment",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Average Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Cap Colour Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cap ILS Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cap Printing Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Branding Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork ILS Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Insertion Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Length Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Moisture Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Printing Sig",
						"type": "nvarchar"
					},
					{
						"name": "Date Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Delete Line",
						"type": "nvarchar"
					},
					{
						"name": "Density",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Empty Bottle Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Fill Height 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Gaping / Broken Bridges",
						"type": "nvarchar"
					},
					{
						"name": "Gross Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Head Space Measurement Sig",
						"type": "nvarchar"
					},
					{
						"name": "Head Space Pressure Sig",
						"type": "nvarchar"
					},
					{
						"name": "Nett Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Pull Tuck Test",
						"type": "nvarchar"
					},
					{
						"name": "Radial Movement Check Sig",
						"type": "nvarchar"
					},
					{
						"name": "Redraw Seal Check",
						"type": "nvarchar"
					},
					{
						"name": "Rim Impression",
						"type": "nvarchar"
					},
					{
						"name": "Screwcapper chute Sig",
						"type": "nvarchar"
					},
					{
						"name": "Tare Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Torque Break 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 6",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 8",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 9",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque cap 1",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 10",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 2",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 3",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 4",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 5",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 6",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 7",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 8",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 9",
						"type": "nvarchar"
					},
					{
						"name": "Torque Slip 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 6",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 8",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 9",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Hourly Torque and Volume",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill of Materials",
						"type": "uniqueidentifier"
					},
					{
						"name": "Tanker",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hourly Torque and Volume"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_LabelChange')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Bill of Material ID",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Delete Line",
						"type": "bit"
					},
					{
						"name": "Gap",
						"type": "decimal",
						"precision": 9,
						"scale": 4
					},
					{
						"name": "Height",
						"type": "decimal",
						"precision": 9,
						"scale": 4
					},
					{
						"name": "Labels match spec Sig",
						"type": "nvarchar"
					},
					{
						"name": "Lean",
						"type": "decimal",
						"precision": 9,
						"scale": 4
					},
					{
						"name": "Pallet Number",
						"type": "nvarchar"
					},
					{
						"name": "Stock Code",
						"type": "nvarchar"
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Label Change",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Label Change"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_Operator')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Initials",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Operator",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Operator"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_OperatorBottlingBreakage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Area clean",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Area retimed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Breakages",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Broken Bottles",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Colleague Sign",
						"type": "nvarchar"
					},
					{
						"name": "Delete Line",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Disposed bottles",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filler Op Sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass fragments visible",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Location of break",
						"type": "nvarchar"
					},
					{
						"name": "No breakages Sig",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Result of a crash",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Start up time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Time of break",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Type",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Operator Bottling Breakage",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill of Materials",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Operator Bottling Breakage"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_OperatorBottlingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Operator Bottling Preflight"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_PreBottlingAnalysis')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Pre-Bottling Analysis Summary Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ALC %",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ALC % Num",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Alcohol %",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Alcohol By Distil",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Alcohol By Distillation",
						"type": "nvarchar"
					},
					{
						"name": "Base DO",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "CO2",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Customer Tank Name",
						"type": "nvarchar"
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Density",
						"type": "decimal",
						"precision": 5,
						"scale": 5
					},
					{
						"name": "FI",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Initials",
						"type": "nvarchar"
					},
					{
						"name": "Initials Check",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Operator",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pH",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Run Number",
						"type": "nvarchar"
					},
					{
						"name": "SO2F",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Tank Volume",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tanker Name",
						"type": "nvarchar"
					},
					{
						"name": "Temp",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "TS02",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TS02 Num",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "TSO2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Pre-Bottling Analysis",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Pre-Bottling Analysis"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_PreBottlingAnalysisRecheck')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Pre-Bottling Analysis Recheck Summary Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tanker Name",
						"type": "nvarchar"
					},
					{
						"name": "ALC %",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ALC % Num",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Base DO",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "CO2",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Customer Tank Name",
						"type": "nvarchar"
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Distill",
						"type": "bit"
					},
					{
						"name": "Distill #",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Extra Analysis",
						"type": "nvarchar"
					},
					{
						"name": "FSO2",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Initials",
						"type": "nvarchar"
					},
					{
						"name": "Operator",
						"type": "nvarchar"
					},
					{
						"name": "Run Number",
						"type": "nvarchar"
					},
					{
						"name": "Temp",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "TSO2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TSO2 mg",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Pre-Bottling Analysis Recheck",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Pre-Bottling Analysis Recheck"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_PrebottlingAnalysisGasAdjustments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Pre-bottling Analysis Gas Adjustments"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_Run')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "RunNumber",
						"type": "nvarchar"
					},
					{
						"name": "RunDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WorkOrderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WorkOrderType",
						"type": "nvarchar"
					},
					{
						"name": "Vintage",
						"type": "nvarchar"
					},
					{
						"name": "Variety",
						"type": "nvarchar"
					},
					{
						"name": "ProductionLine",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Run"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_RunReportBottleLabelPack')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bill of Materials ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cases 1",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases 2",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases 3",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases 4",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases 5",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases total 1",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases total 2",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases total 3",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases total 4",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases total 5",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Internal Notes",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Pallets / Bins 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pallets / bins 2",
						"type": "nvarchar"
					},
					{
						"name": "pallets / bins 3",
						"type": "nvarchar"
					},
					{
						"name": "pallets / bins 4",
						"type": "nvarchar"
					},
					{
						"name": "pallets / bins 5",
						"type": "nvarchar"
					},
					{
						"name": "pallets / bins each containing 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pallets / bins each containing 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pallets / bins each containing 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pallets / bins each containing 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Plus Cases dispatched off line",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Production Notes",
						"type": "nvarchar"
					},
					{
						"name": "Run Completed",
						"type": "nvarchar"
					},
					{
						"name": "Run Report Sig",
						"type": "nvarchar"
					},
					{
						"name": "Total Cases Produced",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Total Cases To Warehouse",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Run Report - Bottle/Label/Pack",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Run Report - Bottle/Label/Pack"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BOM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BOM",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_billofmaterialsid",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bomid",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomworkorderid",
											"type": "Int32"
										},
										"sink": {
											"name": "Work Order ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_BOM",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Bill of Materials]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WWSQL003_BOM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bottle Batch Summary')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bottle Batch Summary",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_amount",
											"type": "Int32"
										},
										"sink": {
											"name": "Amount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatch",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Batch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchsummaryid",
											"type": "Guid"
										},
										"sink": {
											"name": "Bottle Batch Summary",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchsummaryname",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Batch Summary Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "DeletedLine",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletid",
											"type": "String"
										},
										"sink": {
											"name": "Pallet ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_stockcode",
											"type": "String"
										},
										"sink": {
											"name": "Stock code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BottleBatchSummary",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_BottleBatchSummary",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Bottle Batch Summary",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "sp_Bill of Materials"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-03-24T00:31:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WWSQL003_BottleBatchSummary')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hourly Labelling Logsheet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hourly Labelling Logsheet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_key",
											"type": "String"
										},
										"sink": {
											"name": "Key",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rdlabel",
											"type": "Int32"
										},
										"sink": {
											"name": "3rd Label",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_thirdlabelheightposition",
											"type": "String"
										},
										"sink": {
											"name": "3rd label height/position",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_thlabel",
											"type": "Int32"
										},
										"sink": {
											"name": "4th Label",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fourthlabelheightposition",
											"type": "String"
										},
										"sink": {
											"name": "4th label height/position",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelheight",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelleanlessthan1mmltor",
											"type": "Int32"
										},
										"sink": {
											"name": "Back Label lean less than 1mm L to R",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_backlabellotcodeinkjet",
											"type": "String"
										},
										"sink": {
											"name": "Back label lot code / inkjet code required",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabellotcodeinkjetcodesampletaken",
											"type": "Int32"
										},
										"sink": {
											"name": "Back label lot code / inkjet code sample taken",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_backlabellotcodeinkjethourlycodecheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Back label lot code / inkjet Hourly code check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottleandcapscleansig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle and Caps Clean",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonclosurelessthan10mm",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton closure less than 10mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartonfibretear",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton fibre tear",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjetcorrectcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton Inkjet Correct Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartonlabel",
											"type": "String"
										},
										"sink": {
											"name": "Carton Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonlabelsig",
											"type": "String"
										},
										"sink": {
											"name": "Carton Label Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonskewlessthan10mm",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton skew less than 10mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartonssig",
											"type": "String"
										},
										"sink": {
											"name": "Cartons Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closuresacceptablefinishsig",
											"type": "String"
										},
										"sink": {
											"name": "Closures Acceptable Finish Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_dividersils",
											"type": "Int32"
										},
										"sink": {
											"name": "Dividers ILS",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_edgeadhesiontestpass",
											"type": "Int32"
										},
										"sink": {
											"name": "Edge adhesion test",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_labelfrontheight",
											"type": "String"
										},
										"sink": {
											"name": "Front Label Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labelleanlessthan1mmltor",
											"type": "Int32"
										},
										"sink": {
											"name": "Front Label lean less than 1mm L to R",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_labeldamageruborpick",
											"type": "String"
										},
										"sink": {
											"name": "Label Damage, Rub or Pick",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labelssig",
											"type": "String"
										},
										"sink": {
											"name": "Labels Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeclearandlegiblesig",
											"type": "String"
										},
										"sink": {
											"name": "Laser Code Clear and Legible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sidegaplessthat4mm",
											"type": "Int32"
										},
										"sink": {
											"name": "Side Gap less that 4mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_slipsheetscorrectplacement",
											"type": "Int32"
										},
										"sink": {
											"name": "Slipsheets Correct Placement",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_wrinklesflutesbubblesorcreases",
											"type": "String"
										},
										"sink": {
											"name": "Wrinkles / Flutes, Bubbles or creases",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_hourlylabellinglogsheetid",
											"type": "Guid"
										},
										"sink": {
											"name": "Hourly Labelling Logsheet",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "HourlyLabellingLogsheet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_HourlyLabellingLogsheet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hourly Labelling Logsheet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Hourly Labelling Logsheet]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-04-13T20:25:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WWSQL003_HourlyLabellingLogsheet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hourly Operator Bottling')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hourly Operator Bottling",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_authorisedsig",
											"type": "Int32"
										},
										"sink": {
											"name": "Authorised Sig",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "Bill of Materials ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlecodesig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Code Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlecoloursig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Colour Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlelasersticker",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottle laser sticker",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlelaserstickersig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle laser sticker sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlenumberasperlasercoder",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottle Number as Per Laser Coder",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlerubmark",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottle Rub Mark",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottleshapesig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Shape Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlingfrom",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottling from",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlingto",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottling to",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bowlvacuum",
											"type": "Decimal"
										},
										"sink": {
											"name": "Bowl Vacuum",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_checkdocketandphysicallycheckwineisrun",
											"type": "String"
										},
										"sink": {
											"name": "Check docket and physically check wine is run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_collectexportsamples",
											"type": "Int32"
										},
										"sink": {
											"name": "Collect Export Samples",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_corkervacuum",
											"type": "Int32"
										},
										"sink": {
											"name": "Corker Vacuum",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_corkervacuum08to10bar",
											"type": "Decimal"
										},
										"sink": {
											"name": "Corker Vacuum -0.8 to -1.0bar",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_do2frombottle",
											"type": "Decimal"
										},
										"sink": {
											"name": "DO2 from Bottle",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_do2fromvessel",
											"type": "Decimal"
										},
										"sink": {
											"name": "DO2 from vessel",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_exportsamplespicked",
											"type": "Int32"
										},
										"sink": {
											"name": "Export samples picked",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillheight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Fill Height",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillerhead",
											"type": "Decimal"
										},
										"sink": {
											"name": "Filler Head # ",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillerspeed",
											"type": "Int32"
										},
										"sink": {
											"name": "Filler Speed",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_filterdifferential",
											"type": "Decimal"
										},
										"sink": {
											"name": "Filter Differential",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_filtrationpressuregauge",
											"type": "Decimal"
										},
										"sink": {
											"name": "Filtration Pressure Gauge",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_finalfilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "Final Filter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_flowmetercheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Flow Meter Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_foreignbodyvisualcheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Foreign Body / Visual Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_gasfeedtocorker",
											"type": "Int32"
										},
										"sink": {
											"name": "Gas feed to corker",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_gasfeedtocorker1030kpa",
											"type": "Decimal"
										},
										"sink": {
											"name": "Gas feed to corker 10 - 30kpa",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_gasflowratetobowlline2",
											"type": "Decimal"
										},
										"sink": {
											"name": "Gas Flow rate to Bowl (Line 2)",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_gaspressuretobottlingtank",
											"type": "Int32"
										},
										"sink": {
											"name": "Gas pressure to bottling tank",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_glassfragmentscheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Glass Fragments Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_inbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "In bottle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_intank",
											"type": "Int32"
										},
										"sink": {
											"name": "In tank",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeasperspec",
											"type": "Int32"
										},
										"sink": {
											"name": "Laser code as per spec",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeonbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "Laser code on bottle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lenticularfilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "Lenticular Filter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_n2buffervesselpressure",
											"type": "Int32"
										},
										"sink": {
											"name": "N2 buffer vessel pressure",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_neckcheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Neck Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_prefilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "Pre Filter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_prepcheck2",
											"type": "String"
										},
										"sink": {
											"name": "Prep Check 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_prepcheck3",
											"type": "String"
										},
										"sink": {
											"name": "Prep Check 3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_prepchecksig",
											"type": "String"
										},
										"sink": {
											"name": "Prep Check Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pumpspeed",
											"type": "String"
										},
										"sink": {
											"name": "Pump Speed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinseheadinspection",
											"type": "Int32"
										},
										"sink": {
											"name": "Rinse head inspection",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rinseheadmedium",
											"type": "Int32"
										},
										"sink": {
											"name": "Rinse head medium",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rinsergaswatersupplyline1",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rinser Gas/Water Supply Line1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinsergaswatersupplyline2",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rinser Gas/Water Supply Line2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinserpressurefluctuations",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rinser Pressure Fluctuations",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rockstopper",
											"type": "Int32"
										},
										"sink": {
											"name": "Rockstopper",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rockstopperfilter",
											"type": "Int32"
										},
										"sink": {
											"name": "Rockstopper Filter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_samplessig",
											"type": "String"
										},
										"sink": {
											"name": "Samples Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stockcodesig",
											"type": "String"
										},
										"sink": {
											"name": "Stock Code Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_temperature",
											"type": "Decimal"
										},
										"sink": {
											"name": "Temperature",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_timeofauthorisedauditcheck",
											"type": "DateTime"
										},
										"sink": {
											"name": "Time of Authorised Audit Check",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_timeofcheckmicrosampletaken",
											"type": "DateTime"
										},
										"sink": {
											"name": "Time of Check - Micro Sample Taken",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_xraychallengetest",
											"type": "String"
										},
										"sink": {
											"name": "X-Ray Challenge Test",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorbottlinghourlyid",
											"type": "Guid"
										},
										"sink": {
											"name": "Operator Bottling Hourly",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "HourlyOperatorBottling",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_HourlyOperatorBottling",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hourly Operator Bottling",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Hourly Operator Bottling]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WWSQL003_HourlyOperatorBottling')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hourly Torque and Volume')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hourly Torque and Volume",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_key",
											"type": "String"
										},
										"sink": {
											"name": "Key",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_adjustment",
											"type": "Decimal"
										},
										"sink": {
											"name": "Adjustment",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_averageweight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Average Weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_capcoloursig",
											"type": "String"
										},
										"sink": {
											"name": "Cap Colour Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_capilscodesig",
											"type": "String"
										},
										"sink": {
											"name": "Cap ILS Code Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_capprintingsig",
											"type": "String"
										},
										"sink": {
											"name": "Cap Printing Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkbrandingsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Branding Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkilscodesig",
											"type": "String"
										},
										"sink": {
											"name": "Cork ILS Code Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkinsertionsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Insertion Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corklengthsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Length Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkmoisturesig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Moisture Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkprintingsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Printing Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_datetime",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date Time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_density",
											"type": "Decimal"
										},
										"sink": {
											"name": "Density",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_emptybottleweight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Empty Bottle Weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillheight1",
											"type": "Int32"
										},
										"sink": {
											"name": "Fill Height 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillheight2",
											"type": "Int32"
										},
										"sink": {
											"name": "Fill Height 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillheight3",
											"type": "Int32"
										},
										"sink": {
											"name": "Fill Height 3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillheight4",
											"type": "Int32"
										},
										"sink": {
											"name": "Fill Height 4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillheight5",
											"type": "Int32"
										},
										"sink": {
											"name": "Fill Height 5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_gapingbrokenbridges",
											"type": "String"
										},
										"sink": {
											"name": "Gaping / Broken Bridges",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_grossweight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Gross Weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_headspacemeasurementsig",
											"type": "String"
										},
										"sink": {
											"name": "Head Space Measurement Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_headspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "Head Space Pressure Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_nettweight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Nett Weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pulltucktest",
											"type": "String"
										},
										"sink": {
											"name": "Pull Tuck Test",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_radialmovementchecksig",
											"type": "String"
										},
										"sink": {
											"name": "Radial Movement Check Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_redrawsealcheck",
											"type": "String"
										},
										"sink": {
											"name": "Redraw Seal Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rimimpression",
											"type": "String"
										},
										"sink": {
											"name": "Rim Impression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_screwcapperchutesig",
											"type": "String"
										},
										"sink": {
											"name": "Screwcapper chute Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tareweight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Tare Weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak1",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak10",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 10",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak2",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak3",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak4",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak5",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak6",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 6",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak7",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 7",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak8",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 8",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak9",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 9",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquecap1",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap10",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap2",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap3",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap4",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap5",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap6",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap7",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap8",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap9",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 9",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip1",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip10",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 10",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip2",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip3",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip4",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip5",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip6",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 6",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip7",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 7",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip8",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 8",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip9",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 9",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_hourlytorqueandvolumeid",
											"type": "Guid"
										},
										"sink": {
											"name": "Hourly Torque and Volume",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_tanker",
											"type": "Guid"
										},
										"sink": {
											"name": "Tanker",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "HourlyTorqueandVolume",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_HourlyTorqueandVolume",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hourly Torque and Volume",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Hourly Torque and Volume]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/WWSQL003_HourlyTorqueandVolume')]"
			]
		}
	]
}