DataVerseToSQL/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		},
		"DataVerse_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DataVerse'"
		},
		"FileServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'FileServer1'"
		},
		"WWSQL003_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'WWSQL003'"
		},
		"WWSQL003_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'WWSQL003'"
		},
		"DataVerse_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "tejaswi.Datla@wineworks.co.nz"
		},
		"FileServer1_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\tejaswi.datla\\Desktop\\TopMovies_Part1"
		},
		"FileServer1_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "tejaswi.Datla@wineworks.co.nz"
		},
		"WWSQL003_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Tejaswi.Datla@wineworks.co.nz"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataVerse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://wineworks.crm6.dynamics.com/",
					"authenticationType": "Office365",
					"username": "[parameters('DataVerse_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DataVerse_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BottleBatchRejects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_bottlebatchrejects"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BottleBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_bottlebatchsummary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ClosureBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_closurebatchsummary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FillerOperation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_filleroperation"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FileServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('FileServer1_properties_typeProperties_host')]",
					"userId": "[parameters('FileServer1_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FileServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('WWSQL003_connectionString')]",
					"userName": "[parameters('WWSQL003_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('WWSQL003_password')]"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HourlyLabellingLogsheet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_hourlylabellinglogsheet"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HourlyTorqueandVolume')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_hourlytorqueandvolume"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LabellingIssues')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_labellingissues"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BottleBatchRejects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bottle Batch Rejects"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WWSQL003')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BottleBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bottle Batch Summary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WWSQL003')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_ClosureBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Box Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Closure Batch Code",
						"type": "nvarchar"
					},
					{
						"name": "Closure Batch Summary",
						"type": "uniqueidentifier"
					},
					{
						"name": "Closure Batch Summary Name",
						"type": "nvarchar"
					},
					{
						"name": "Closure ILS",
						"type": "nvarchar"
					},
					{
						"name": "Comments",
						"type": "text"
					},
					{
						"name": "Cork Expiry Date",
						"type": "date"
					},
					{
						"name": "Cork Moisture",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "OperatorCode",
						"type": "nvarchar"
					},
					{
						"name": "Production Date",
						"type": "date"
					},
					{
						"name": "Record Created On",
						"type": "date"
					},
					{
						"name": "Reference Number",
						"type": "nchar"
					},
					{
						"name": "Run",
						"type": "uniqueidentifier"
					},
					{
						"name": "Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Supplier",
						"type": "uniqueidentifier"
					},
					{
						"name": "Supplier Code",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Closure Batch Summary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WWSQL003')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_FillerOperation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Filler operation ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "Air Ram Screw Capper",
						"type": "nvarchar"
					},
					{
						"name": "Air Ram Screw Capper Sig",
						"type": "nvarchar"
					},
					{
						"name": "Alcohol Sterilisation",
						"type": "nvarchar"
					},
					{
						"name": "Alcohol Sterilisation Sig",
						"type": "nvarchar"
					},
					{
						"name": "All Filters Present",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Code and Guide Rails Set",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Coder Running and Legible",
						"type": "nvarchar"
					},
					{
						"name": "Brand",
						"type": "nvarchar"
					},
					{
						"name": "Brand Sig",
						"type": "nvarchar"
					},
					{
						"name": "CCP1 Start the Run Check",
						"type": "nvarchar"
					},
					{
						"name": "CCP1 Start the Run Check Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Closure Hopper Empty",
						"type": "nvarchar"
					},
					{
						"name": "Closure Hopper Empty Sig",
						"type": "nvarchar"
					},
					{
						"name": "Closure Type",
						"type": "nvarchar"
					},
					{
						"name": "Closure Type Sig",
						"type": "nvarchar"
					},
					{
						"name": "Code Height",
						"type": "nvarchar"
					},
					{
						"name": "Colour",
						"type": "nvarchar"
					},
					{
						"name": "Colour Sig",
						"type": "nvarchar"
					},
					{
						"name": "Contact points for glass frag",
						"type": "nvarchar"
					},
					{
						"name": "Cork Grade/Size",
						"type": "nvarchar"
					},
					{
						"name": "Cork Grade/Size Sig",
						"type": "nvarchar"
					},
					{
						"name": "Corker Headspace Pressure",
						"type": "nvarchar"
					},
					{
						"name": "Corker Plungers Set",
						"type": "nvarchar"
					},
					{
						"name": "Corker Vacuum on",
						"type": "nvarchar"
					},
					{
						"name": "Correct Filters",
						"type": "nvarchar"
					},
					{
						"name": "Correct wine is bottled sig",
						"type": "nvarchar"
					},
					{
						"name": "Count Zeroed",
						"type": "nvarchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Do not start run until CCP1 is complete",
						"type": "nvarchar"
					},
					{
						"name": "Do not start run until CCP1 is complete Time",
						"type": "nvarchar"
					},
					{
						"name": "Docket & Vessel",
						"type": "nvarchar"
					},
					{
						"name": "Docket & Vessel Sig",
						"type": "nvarchar"
					},
					{
						"name": "End of Run Comments",
						"type": "nvarchar"
					},
					{
						"name": "EOR Bottle Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Bottle Number",
						"type": "nvarchar"
					},
					{
						"name": "EOR Bottling To",
						"type": "nvarchar"
					},
					{
						"name": "EOR Check Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EOR Flow Meter Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR Glass Fragments Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EOR In Bottle",
						"type": "nvarchar"
					},
					{
						"name": "EOR Rinse head inspection",
						"type": "nvarchar"
					},
					{
						"name": "EOR Rinse head medium",
						"type": "nvarchar"
					},
					{
						"name": "EOR Rinser Gas/Water Supply Line1",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "EOR Rinser Gas/Water Supply Line2",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "EOR Rinser Pressure Fluctuations",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Fill Heights",
						"type": "nvarchar"
					},
					{
						"name": "Filler Centring Bells/Seals Check",
						"type": "nvarchar"
					},
					{
						"name": "Filler Fill Stems Sterile",
						"type": "nvarchar"
					},
					{
						"name": "Filler Operation",
						"type": "nvarchar"
					},
					{
						"name": "Filler Vacuum On",
						"type": "nvarchar"
					},
					{
						"name": "Filtration Charges",
						"type": "nvarchar"
					},
					{
						"name": "Flies in the filler room",
						"type": "nvarchar"
					},
					{
						"name": "Flies in the filler room_old",
						"type": "nvarchar"
					},
					{
						"name": "Flies sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass Bottle Check",
						"type": "nvarchar"
					},
					{
						"name": "Glass Frag",
						"type": "nvarchar"
					},
					{
						"name": "Glass Frag Sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass pump check sig",
						"type": "nvarchar"
					},
					{
						"name": "ILS Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "ILSCode",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Filler Bowl",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Rinser",
						"type": "nvarchar"
					},
					{
						"name": "Inert Gas to Tanker",
						"type": "nvarchar"
					},
					{
						"name": "Is this an Organic product",
						"type": "nvarchar"
					},
					{
						"name": "Jaw Lube Checked",
						"type": "nvarchar"
					},
					{
						"name": "Jaw Lube Checked Sig",
						"type": "nvarchar"
					},
					{
						"name": "Manual Jog 1x Bottle",
						"type": "nvarchar"
					},
					{
						"name": "MF Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Number on tag(s) Filters",
						"type": "nvarchar"
					},
					{
						"name": "Number on tag(s) Sig",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Plain / Printed",
						"type": "nvarchar"
					},
					{
						"name": "Plain/Printed Sig",
						"type": "nvarchar"
					},
					{
						"name": "Product line check sig",
						"type": "nvarchar"
					},
					{
						"name": "Refract BTL",
						"type": "nvarchar"
					},
					{
						"name": "Refract Tank",
						"type": "nvarchar"
					},
					{
						"name": "Rinser Medium",
						"type": "nvarchar"
					},
					{
						"name": "Rinser Medium Sig",
						"type": "nvarchar"
					},
					{
						"name": "Rollers Lubed",
						"type": "nvarchar"
					},
					{
						"name": "Run",
						"type": "uniqueidentifier"
					},
					{
						"name": "Sample Attached to Spec Sheet",
						"type": "nvarchar"
					},
					{
						"name": "Spec sheet read and signed sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Filter Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Finish",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Membrane Integrity",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Process",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization process Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization RF Integrity Verification Sig",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Rinser Integrity",
						"type": "nvarchar"
					},
					{
						"name": "Sterilization Run End",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Run Start",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Start",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Sterilization Temperature",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Thread Rollers H1",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H2",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H3",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H4",
						"type": "nvarchar"
					},
					{
						"name": "Thread Rollers H5",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers  H5",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H1",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H2",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H3",
						"type": "nvarchar"
					},
					{
						"name": "Tuck Rollers H4",
						"type": "nvarchar"
					},
					{
						"name": "Visual Colour Match BTL",
						"type": "nvarchar"
					},
					{
						"name": "Visual Colour Match Tank",
						"type": "nvarchar"
					},
					{
						"name": "Wine pump (Select & Sign)",
						"type": "nvarchar"
					},
					{
						"name": "Wine pump sig",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Density Bottles",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Limits Rejecting",
						"type": "nvarchar"
					},
					{
						"name": "X Ray Set On",
						"type": "nvarchar"
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Filler operation"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WWSQL003')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_HourlyLabellingLogsheet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hourly Labelling Logsheet"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WWSQL003')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_HourlyTorqueandVolume')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Key",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Adjustment",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Average Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Cap Colour Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cap ILS Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cap Printing Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Branding Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork ILS Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Insertion Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Length Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Moisture Sig",
						"type": "nvarchar"
					},
					{
						"name": "Cork Printing Sig",
						"type": "nvarchar"
					},
					{
						"name": "Date Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Delete Line",
						"type": "nvarchar"
					},
					{
						"name": "Density",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Empty Bottle Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Fill Height 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Gaping / Broken Bridges",
						"type": "nvarchar"
					},
					{
						"name": "Gross Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Head Space Measurement Sig",
						"type": "nvarchar"
					},
					{
						"name": "Head Space Pressure Sig",
						"type": "nvarchar"
					},
					{
						"name": "Nett Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Pull Tuck Test",
						"type": "nvarchar"
					},
					{
						"name": "Radial Movement Check Sig",
						"type": "nvarchar"
					},
					{
						"name": "Redraw Seal Check",
						"type": "nvarchar"
					},
					{
						"name": "Rim Impression",
						"type": "nvarchar"
					},
					{
						"name": "Screwcapper chute Sig",
						"type": "nvarchar"
					},
					{
						"name": "Tare Weight",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Torque Break 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 6",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 8",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Break 9",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque cap 1",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 10",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 2",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 3",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 4",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 5",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 6",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 7",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 8",
						"type": "nvarchar"
					},
					{
						"name": "Torque cap 9",
						"type": "nvarchar"
					},
					{
						"name": "Torque Slip 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 10",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 6",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 7",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 8",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Torque Slip 9",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Hourly Torque and Volume",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill of Materials",
						"type": "uniqueidentifier"
					},
					{
						"name": "Tanker",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hourly Torque and Volume"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WWSQL003')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_LabellingIssues')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Labelling Issue",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Rub",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Broken bottles",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Cartons rejected",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Comments",
						"type": "nvarchar"
					},
					{
						"name": "Damaged screwcaps",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Date Time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Delete Issue",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Delete Rejects",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Glass defects",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Issue",
						"type": "nvarchar"
					},
					{
						"name": "Low fills",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Total Rejects",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Labelling Issues",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill of Materials",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Labelling Issues"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/WWSQL003')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bottle Batch Rejects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bottle Batch Rejects",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource",
								"query": "<fetch mapping='logical'>\n  <entity name='ww_bottlebatchrejects'>\n     <attribute name='ww_billofmaterials' />\n     <attribute name='ww_bottlebatchrejectsid' />\n     <attribute name='ww_broken' />\n     <attribute name='ww_comments' />\n     <attribute name='createdon' />\n     <attribute name='ww_filler' />\n     <attribute name='importsequencenumber' />\n     <attribute name='ww_lab' />\n     <attribute name='modifiedon' />\n     <attribute name='ww_name' />\n     <attribute name='ww_operatorcode' />\n     <attribute name='overriddencreatedon' />  \t ​\n ​</entity>\n</fetch>"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill Of materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchrejectsid",
											"type": "Guid"
										},
										"sink": {
											"name": "Bottle Batch Rejects",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_broken",
											"type": "Int32"
										},
										"sink": {
											"name": "Broken",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_filler",
											"type": "Int32"
										},
										"sink": {
											"name": "Filler",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lab",
											"type": "Int32"
										},
										"sink": {
											"name": "Lab",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BottleBatchRejects",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_BottleBatchRejects",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Bottle Batch Rejects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Bottle Batch Rejects]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-03-25T23:30:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BottleBatchRejects')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_BottleBatchRejects')]",
				"[concat(variables('factoryId'), '/linkedServices/WWSQL003')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bottle Batch Summary')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bottle Batch Summary",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_amount",
											"type": "Int32"
										},
										"sink": {
											"name": "Amount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatch",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Batch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchsummaryid",
											"type": "Guid"
										},
										"sink": {
											"name": "Bottle Batch Summary",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchsummaryname",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Batch Summary Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "DeletedLine",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletid",
											"type": "String"
										},
										"sink": {
											"name": "Pallet ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_stockcode",
											"type": "String"
										},
										"sink": {
											"name": "Stock code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BottleBatchSummary",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_BottleBatchSummary",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Bottle Batch Summary",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Bottle Batch Summary]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-03-24T00:31:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BottleBatchSummary')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_BottleBatchSummary')]",
				"[concat(variables('factoryId'), '/linkedServices/WWSQL003')]"
			]
		}
	]
}