DataVerseToSQL/PartialArmTemplates/ArmTemplate_5_4_2021_10_51_58.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DataVerse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://wineworks.crm6.dynamics.com/",
					"authenticationType": "Office365",
					"username": "wwdigital@wineworks.co.nz",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ClosureBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_closurebatchsummary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_ClosureBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Box Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Closure Batch Code",
						"type": "nvarchar"
					},
					{
						"name": "Closure Batch Summary",
						"type": "uniqueidentifier"
					},
					{
						"name": "Closure Batch Summary Name",
						"type": "nvarchar"
					},
					{
						"name": "Closure ILS",
						"type": "nvarchar"
					},
					{
						"name": "Comments",
						"type": "text"
					},
					{
						"name": "Cork Expiry Date",
						"type": "date"
					},
					{
						"name": "Cork Moisture",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "OperatorCode",
						"type": "nvarchar"
					},
					{
						"name": "Production Date",
						"type": "date"
					},
					{
						"name": "Record Created On",
						"type": "date"
					},
					{
						"name": "Reference Number",
						"type": "nchar"
					},
					{
						"name": "Run",
						"type": "uniqueidentifier"
					},
					{
						"name": "Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Supplier",
						"type": "uniqueidentifier"
					},
					{
						"name": "Supplier Code",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Closure Batch Summary"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Closure Batch Summary')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Closure Batch Summary",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_closurebatchboxnumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Box Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchcode",
											"type": "String"
										},
										"sink": {
											"name": "Closure Batch Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchsummaryid",
											"type": "Guid"
										},
										"sink": {
											"name": "Closure Batch Summary",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchsummaryname",
											"type": "String"
										},
										"sink": {
											"name": "Closure Batch Summary Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closureils",
											"type": "String"
										},
										"sink": {
											"name": "Closure ILS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchsummarycomments",
											"type": "String"
										},
										"sink": {
											"name": "Comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchcorkexpirydate",
											"type": "DateTime"
										},
										"sink": {
											"name": "Cork Expiry Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchcorkmoisture",
											"type": "Decimal"
										},
										"sink": {
											"name": "Cork Moisture",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "OperatorCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchproductiondate",
											"type": "DateTime"
										},
										"sink": {
											"name": "Production Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchreferencenumber",
											"type": "String"
										},
										"sink": {
											"name": "Reference Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchsummarysupplier",
											"type": "Guid"
										},
										"sink": {
											"name": "Supplier",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_closurebatchsuppliercode",
											"type": "String"
										},
										"sink": {
											"name": "Supplier Code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "ClosureBatchSummary",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_ClosureBatchSummary",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Closure Batch Summary",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Closure Batch Summary]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-03-24T02:34:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ClosureBatchSummary')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_ClosureBatchSummary')]"
			]
		}
	]
}