DataVerseToSQL/PartialArmTemplates/ArmTemplate_4_22_2021_16_8_33.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DataVerseToSQL"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BOM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BOM",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_billofmaterialsid",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bomid",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomworkorderid",
											"type": "Int32"
										},
										"sink": {
											"name": "Work Order ID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BOM",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_BOM",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "BOM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Bill of Materials]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BOM')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_BOM')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bottle Batch Summary')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bottle Batch Summary",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_amount",
											"type": "Int32"
										},
										"sink": {
											"name": "Amount",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatch",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Batch",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchsummaryid",
											"type": "Guid"
										},
										"sink": {
											"name": "Bottle Batch Summary",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchsummaryname",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Batch Summary Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "DeletedLine",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletid",
											"type": "String"
										},
										"sink": {
											"name": "Pallet ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_stockcode",
											"type": "String"
										},
										"sink": {
											"name": "Stock code",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BottleBatchSummary",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_BottleBatchSummary",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Bottle Batch Summary",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "sp_Bill of Materials"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-03-24T00:31:54Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BottleBatchSummary')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_BottleBatchSummary')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hourly Labelling Logsheet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hourly Labelling Logsheet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_key",
											"type": "String"
										},
										"sink": {
											"name": "Key",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rdlabel",
											"type": "Int32"
										},
										"sink": {
											"name": "3rd Label",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_thirdlabelheightposition",
											"type": "String"
										},
										"sink": {
											"name": "3rd label height/position",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_thlabel",
											"type": "Int32"
										},
										"sink": {
											"name": "4th Label",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fourthlabelheightposition",
											"type": "String"
										},
										"sink": {
											"name": "4th label height/position",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelheight",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelleanlessthan1mmltor",
											"type": "Int32"
										},
										"sink": {
											"name": "Back Label lean less than 1mm L to R",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_backlabellotcodeinkjet",
											"type": "String"
										},
										"sink": {
											"name": "Back label lot code / inkjet code required",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabellotcodeinkjetcodesampletaken",
											"type": "Int32"
										},
										"sink": {
											"name": "Back label lot code / inkjet code sample taken",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_backlabellotcodeinkjethourlycodecheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Back label lot code / inkjet Hourly code check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottleandcapscleansig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle and Caps Clean",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonclosurelessthan10mm",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton closure less than 10mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartonfibretear",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton fibre tear",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjetcorrectcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton Inkjet Correct Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartonlabel",
											"type": "String"
										},
										"sink": {
											"name": "Carton Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonlabelsig",
											"type": "String"
										},
										"sink": {
											"name": "Carton Label Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonskewlessthan10mm",
											"type": "Int32"
										},
										"sink": {
											"name": "Carton skew less than 10mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_cartonssig",
											"type": "String"
										},
										"sink": {
											"name": "Cartons Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closuresacceptablefinishsig",
											"type": "String"
										},
										"sink": {
											"name": "Closures Acceptable Finish Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_dividersils",
											"type": "Int32"
										},
										"sink": {
											"name": "Dividers ILS",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_edgeadhesiontestpass",
											"type": "Int32"
										},
										"sink": {
											"name": "Edge adhesion test",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_labelfrontheight",
											"type": "String"
										},
										"sink": {
											"name": "Front Label Height",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labelleanlessthan1mmltor",
											"type": "Int32"
										},
										"sink": {
											"name": "Front Label lean less than 1mm L to R",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_labeldamageruborpick",
											"type": "String"
										},
										"sink": {
											"name": "Label Damage, Rub or Pick",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labelssig",
											"type": "String"
										},
										"sink": {
											"name": "Labels Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeclearandlegiblesig",
											"type": "String"
										},
										"sink": {
											"name": "Laser Code Clear and Legible",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sidegaplessthat4mm",
											"type": "Int32"
										},
										"sink": {
											"name": "Side Gap less that 4mm",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_slipsheetscorrectplacement",
											"type": "Int32"
										},
										"sink": {
											"name": "Slipsheets Correct Placement",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_wrinklesflutesbubblesorcreases",
											"type": "String"
										},
										"sink": {
											"name": "Wrinkles / Flutes, Bubbles or creases",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_hourlylabellinglogsheetid",
											"type": "Guid"
										},
										"sink": {
											"name": "Hourly Labelling Logsheet",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "HourlyLabellingLogsheet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_HourlyLabellingLogsheet",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hourly Labelling Logsheet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Hourly Labelling Logsheet]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-04-13T20:25:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hourly Operator Bottling')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hourly Operator Bottling",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_authorisedsig",
											"type": "Int32"
										},
										"sink": {
											"name": "Authorised Sig",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "Bill of Materials ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlecodesig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Code Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlecoloursig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Colour Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlelasersticker",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottle laser sticker",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlelaserstickersig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle laser sticker sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlenumberasperlasercoder",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottle Number as Per Laser Coder",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlerubmark",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottle Rub Mark",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottleshapesig",
											"type": "String"
										},
										"sink": {
											"name": "Bottle Shape Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlingfrom",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottling from",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlingto",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottling to",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bowlvacuum",
											"type": "Decimal"
										},
										"sink": {
											"name": "Bowl Vacuum",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_checkdocketandphysicallycheckwineisrun",
											"type": "String"
										},
										"sink": {
											"name": "Check docket and physically check wine is run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_collectexportsamples",
											"type": "Int32"
										},
										"sink": {
											"name": "Collect Export Samples",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_corkervacuum",
											"type": "Int32"
										},
										"sink": {
											"name": "Corker Vacuum",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_corkervacuum08to10bar",
											"type": "Decimal"
										},
										"sink": {
											"name": "Corker Vacuum -0.8 to -1.0bar",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_do2frombottle",
											"type": "Decimal"
										},
										"sink": {
											"name": "DO2 from Bottle",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_do2fromvessel",
											"type": "Decimal"
										},
										"sink": {
											"name": "DO2 from vessel",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_exportsamplespicked",
											"type": "Int32"
										},
										"sink": {
											"name": "Export samples picked",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillheight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Fill Height",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillerhead",
											"type": "Decimal"
										},
										"sink": {
											"name": "Filler Head # ",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillerspeed",
											"type": "Int32"
										},
										"sink": {
											"name": "Filler Speed",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_filterdifferential",
											"type": "Decimal"
										},
										"sink": {
											"name": "Filter Differential",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_filtrationpressuregauge",
											"type": "Decimal"
										},
										"sink": {
											"name": "Filtration Pressure Gauge",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_finalfilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "Final Filter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_flowmetercheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Flow Meter Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_foreignbodyvisualcheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Foreign Body / Visual Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_gasfeedtocorker",
											"type": "Int32"
										},
										"sink": {
											"name": "Gas feed to corker",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_gasfeedtocorker1030kpa",
											"type": "Decimal"
										},
										"sink": {
											"name": "Gas feed to corker 10 - 30kpa",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_gasflowratetobowlline2",
											"type": "Decimal"
										},
										"sink": {
											"name": "Gas Flow rate to Bowl (Line 2)",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_gaspressuretobottlingtank",
											"type": "Int32"
										},
										"sink": {
											"name": "Gas pressure to bottling tank",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_glassfragmentscheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Glass Fragments Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_inbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "In bottle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_intank",
											"type": "Int32"
										},
										"sink": {
											"name": "In tank",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeasperspec",
											"type": "Int32"
										},
										"sink": {
											"name": "Laser code as per spec",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeonbottle",
											"type": "Int32"
										},
										"sink": {
											"name": "Laser code on bottle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lenticularfilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "Lenticular Filter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_n2buffervesselpressure",
											"type": "Int32"
										},
										"sink": {
											"name": "N2 buffer vessel pressure",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_neckcheck",
											"type": "Int32"
										},
										"sink": {
											"name": "Neck Check",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_prefilter",
											"type": "Decimal"
										},
										"sink": {
											"name": "Pre Filter",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_prepcheck2",
											"type": "String"
										},
										"sink": {
											"name": "Prep Check 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_prepcheck3",
											"type": "String"
										},
										"sink": {
											"name": "Prep Check 3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_prepchecksig",
											"type": "String"
										},
										"sink": {
											"name": "Prep Check Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pumpspeed",
											"type": "String"
										},
										"sink": {
											"name": "Pump Speed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinseheadinspection",
											"type": "Int32"
										},
										"sink": {
											"name": "Rinse head inspection",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rinseheadmedium",
											"type": "Int32"
										},
										"sink": {
											"name": "Rinse head medium",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rinsergaswatersupplyline1",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rinser Gas/Water Supply Line1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinsergaswatersupplyline2",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rinser Gas/Water Supply Line2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rinserpressurefluctuations",
											"type": "Decimal"
										},
										"sink": {
											"name": "Rinser Pressure Fluctuations",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_rockstopper",
											"type": "Int32"
										},
										"sink": {
											"name": "Rockstopper",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_rockstopperfilter",
											"type": "Int32"
										},
										"sink": {
											"name": "Rockstopper Filter",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_samplessig",
											"type": "String"
										},
										"sink": {
											"name": "Samples Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stockcodesig",
											"type": "String"
										},
										"sink": {
											"name": "Stock Code Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_temperature",
											"type": "Decimal"
										},
										"sink": {
											"name": "Temperature",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_timeofauthorisedauditcheck",
											"type": "DateTime"
										},
										"sink": {
											"name": "Time of Authorised Audit Check",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_timeofcheckmicrosampletaken",
											"type": "DateTime"
										},
										"sink": {
											"name": "Time of Check - Micro Sample Taken",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_xraychallengetest",
											"type": "String"
										},
										"sink": {
											"name": "X-Ray Challenge Test",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorbottlinghourlyid",
											"type": "Guid"
										},
										"sink": {
											"name": "Operator Bottling Hourly",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "HourlyOperatorBottling",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_HourlyOperatorBottling",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hourly Operator Bottling",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Hourly Operator Bottling]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HourlyOperatorBottling')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_HourlyOperatorBottling')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Hourly Torque and Volume')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Hourly Torque and Volume",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_key",
											"type": "String"
										},
										"sink": {
											"name": "Key",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_adjustment",
											"type": "Decimal"
										},
										"sink": {
											"name": "Adjustment",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_averageweight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Average Weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_capcoloursig",
											"type": "String"
										},
										"sink": {
											"name": "Cap Colour Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_capilscodesig",
											"type": "String"
										},
										"sink": {
											"name": "Cap ILS Code Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_capprintingsig",
											"type": "String"
										},
										"sink": {
											"name": "Cap Printing Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkbrandingsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Branding Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkilscodesig",
											"type": "String"
										},
										"sink": {
											"name": "Cork ILS Code Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkinsertionsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Insertion Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corklengthsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Length Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkmoisturesig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Moisture Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_corkprintingsig",
											"type": "String"
										},
										"sink": {
											"name": "Cork Printing Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_datetime",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date Time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_density",
											"type": "Decimal"
										},
										"sink": {
											"name": "Density",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_emptybottleweight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Empty Bottle Weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fillheight1",
											"type": "Int32"
										},
										"sink": {
											"name": "Fill Height 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillheight2",
											"type": "Int32"
										},
										"sink": {
											"name": "Fill Height 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillheight3",
											"type": "Int32"
										},
										"sink": {
											"name": "Fill Height 3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillheight4",
											"type": "Int32"
										},
										"sink": {
											"name": "Fill Height 4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_fillheight5",
											"type": "Int32"
										},
										"sink": {
											"name": "Fill Height 5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_gapingbrokenbridges",
											"type": "String"
										},
										"sink": {
											"name": "Gaping / Broken Bridges",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_grossweight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Gross Weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_headspacemeasurementsig",
											"type": "String"
										},
										"sink": {
											"name": "Head Space Measurement Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_headspacepressuresig",
											"type": "String"
										},
										"sink": {
											"name": "Head Space Pressure Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_nettweight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Nett Weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pulltucktest",
											"type": "String"
										},
										"sink": {
											"name": "Pull Tuck Test",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_radialmovementchecksig",
											"type": "String"
										},
										"sink": {
											"name": "Radial Movement Check Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_redrawsealcheck",
											"type": "String"
										},
										"sink": {
											"name": "Redraw Seal Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rimimpression",
											"type": "String"
										},
										"sink": {
											"name": "Rim Impression",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_screwcapperchutesig",
											"type": "String"
										},
										"sink": {
											"name": "Screwcapper chute Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tareweight",
											"type": "Decimal"
										},
										"sink": {
											"name": "Tare Weight",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak1",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak10",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 10",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak2",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak3",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak4",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak5",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak6",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 6",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak7",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 7",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak8",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 8",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquebreak9",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Break 9",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torquecap1",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 1",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap10",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 10",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap2",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap3",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap4",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap5",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap6",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 6",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap7",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 7",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap8",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 8",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torquecap9",
											"type": "String"
										},
										"sink": {
											"name": "Torque cap 9",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip1",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip10",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 10",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip2",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip3",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip4",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip5",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip6",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 6",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip7",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 7",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip8",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 8",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_torqueslip9",
											"type": "Int32"
										},
										"sink": {
											"name": "Torque Slip 9",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_hourlytorqueandvolumeid",
											"type": "Guid"
										},
										"sink": {
											"name": "Hourly Torque and Volume",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_tanker",
											"type": "Guid"
										},
										"sink": {
											"name": "Tanker",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "HourlyTorqueandVolume",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_HourlyTorqueandVolume",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Hourly Torque and Volume",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Hourly Torque and Volume]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Label Change')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Label Change",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialname",
											"type": "String"
										},
										"sink": {
											"name": "Bill of Material ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_gap",
											"type": "Decimal"
										},
										"sink": {
											"name": "Gap",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_height",
											"type": "Decimal"
										},
										"sink": {
											"name": "Height",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_labelsmatchspecsig",
											"type": "String"
										},
										"sink": {
											"name": "Labels match spec Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lean",
											"type": "Decimal"
										},
										"sink": {
											"name": "Lean",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_palletnumber",
											"type": "String"
										},
										"sink": {
											"name": "Pallet Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stockcode",
											"type": "String"
										},
										"sink": {
											"name": "Stock Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_labelchangeid",
											"type": "Guid"
										},
										"sink": {
											"name": "Label Change",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LabelChange",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_LabelChange",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Label Change",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Label Change]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LabelChange')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_LabelChange')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Labelling Preflight')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Labelling Preflight",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_thirdlabel",
											"type": "String"
										},
										"sink": {
											"name": "3rd Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fourthlabel",
											"type": "String"
										},
										"sink": {
											"name": "4th Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabel",
											"type": "String"
										},
										"sink": {
											"name": "Back Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabeladditionaltext",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Additional Text",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelinkjetcode",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Inkjet Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_backlabelinkjetplacement",
											"type": "String"
										},
										"sink": {
											"name": "Back Label Inkjet Placement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bominstructionsforthisrun",
											"type": "String"
										},
										"sink": {
											"name": "BOM Instructions for this Run",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bomspecificinstructions",
											"type": "String"
										},
										"sink": {
											"name": "BOM Specific Instructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonilscode",
											"type": "String"
										},
										"sink": {
											"name": "Carton ILS Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjet",
											"type": "String"
										},
										"sink": {
											"name": "Carton Inkjet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartoninkjetplacement",
											"type": "String"
										},
										"sink": {
											"name": "Carton Inkjet Placement",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartonlabels",
											"type": "String"
										},
										"sink": {
											"name": "Carton Labels",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cartons",
											"type": "String"
										},
										"sink": {
											"name": "Cartons",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_closuresilscodecorrectsig",
											"type": "String"
										},
										"sink": {
											"name": "Closures ILS Code Correct Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_divider",
											"type": "String"
										},
										"sink": {
											"name": "Divider",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_dividersilscode",
											"type": "String"
										},
										"sink": {
											"name": "Dividers ILS Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_extraitem",
											"type": "String"
										},
										"sink": {
											"name": "Extra Item",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_extraitem2",
											"type": "String"
										},
										"sink": {
											"name": "Extra Item2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_frontlabel",
											"type": "String"
										},
										"sink": {
											"name": "Front Label",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_genericclientinstructions",
											"type": "String"
										},
										"sink": {
											"name": "Generic Client Instructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labeldetectionon",
											"type": "Int32"
										},
										"sink": {
											"name": "Label detection ON",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_labelpositionamended",
											"type": "String"
										},
										"sink": {
											"name": "Label Position Amended",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lasercodeonbottle",
											"type": "String"
										},
										"sink": {
											"name": "Laser code on bottle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_lineclearfrompreviousjob",
											"type": "Int32"
										},
										"sink": {
											"name": "Line clear from previous job",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pallet",
											"type": "String"
										},
										"sink": {
											"name": "Pallet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletnumber",
											"type": "String"
										},
										"sink": {
											"name": "Pallet Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_pallettypecheckedsig",
											"type": "String"
										},
										"sink": {
											"name": "Pallet Type Checked Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletscorrecttospec",
											"type": "Int32"
										},
										"sink": {
											"name": "Pallets Correct to Spec",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_sampleattachedtospec",
											"type": "Int32"
										},
										"sink": {
											"name": "Sample attached to spec",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_slipsheet",
											"type": "String"
										},
										"sink": {
											"name": "Slip Sheet",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_stacking",
											"type": "String"
										},
										"sink": {
											"name": "Stacking",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_startupinitial",
											"type": "String"
										},
										"sink": {
											"name": "Start up initial",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_startuptime",
											"type": "DateTime"
										},
										"sink": {
											"name": "Start up time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_weighalarmon",
											"type": "Int32"
										},
										"sink": {
											"name": "Weigh alarm ON",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_workorderinstructions",
											"type": "String"
										},
										"sink": {
											"name": "Work Order Instructions",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_labellingpreflightid",
											"type": "Guid"
										},
										"sink": {
											"name": "Labelling Preflight",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "LabellingPreflight",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003LabellingPreflight",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Labelling Preflight",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Labelling Preflight]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/LabellingPreflight')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003LabellingPreflight')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Operator Bottling Breakage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Operator Bottling Breakage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_areaclean",
											"type": "Int32"
										},
										"sink": {
											"name": "Area clean",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_arearetimed",
											"type": "Int32"
										},
										"sink": {
											"name": "Area retimed",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlecount",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottle Count",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_breakages",
											"type": "Int32"
										},
										"sink": {
											"name": "Breakages",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_brokenbottles",
											"type": "Int32"
										},
										"sink": {
											"name": "Broken Bottles",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_colleaguesign",
											"type": "String"
										},
										"sink": {
											"name": "Colleague Sign",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_disposedbottles",
											"type": "Int32"
										},
										"sink": {
											"name": "Disposed bottles",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_filleropsig",
											"type": "String"
										},
										"sink": {
											"name": "Filler Op Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_locationofbreak",
											"type": "String"
										},
										"sink": {
											"name": "Location of break",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_nobreakagessig",
											"type": "String"
										},
										"sink": {
											"name": "No breakages Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_resultofacrash",
											"type": "Int32"
										},
										"sink": {
											"name": "Result of a crash",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_startuptime",
											"type": "DateTime"
										},
										"sink": {
											"name": "Start up time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_timeofbreak",
											"type": "DateTime"
										},
										"sink": {
											"name": "Time of break",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_type",
											"type": "Int32"
										},
										"sink": {
											"name": "Type",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorbottlingbreakageid",
											"type": "Guid"
										},
										"sink": {
											"name": "Operator Bottling Breakage",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OperatorBottlingBreakage",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_OperatorBottlingBreakage",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Operator Bottling Breakage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Operator Bottling Breakage]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OperatorBottlingBreakage')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_OperatorBottlingBreakage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Operator Bottling Preflight')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Operator Bottling Preflight",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_ccp1starttherun",
											"type": "DateTime"
										},
										"sink": {
											"name": "CCP1 Start the Run",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "crc5d_ccp1starttherunsig",
											"type": "String"
										},
										"sink": {
											"name": "CCP1 Start the Run Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_donotstartrununtilccp1completesig",
											"type": "String"
										},
										"sink": {
											"name": "Do not start run until CCP1 complete Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_filterintegrityverification",
											"type": "String"
										},
										"sink": {
											"name": "Filter Integrity Verification",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_membraneintegrity",
											"type": "String"
										},
										"sink": {
											"name": "Membrane Integrity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_integrityverificationsig",
											"type": "String"
										},
										"sink": {
											"name": "MF Integrity Verification Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "crc5d_organicproduct",
											"type": "Int32"
										},
										"sink": {
											"name": "Organic Product",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "crc5d_organicproductsig",
											"type": "String"
										},
										"sink": {
											"name": "Organic product Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_rfintegrityverificationsig",
											"type": "String"
										},
										"sink": {
											"name": "RF Integrity verification Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rinserintegrity",
											"type": "String"
										},
										"sink": {
											"name": "Rinser Integrity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_runend",
											"type": "DateTime"
										},
										"sink": {
											"name": "Run End",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "crc5d_runstart",
											"type": "DateTime"
										},
										"sink": {
											"name": "Run Start",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "crc5d_sterilizationfinish",
											"type": "DateTime"
										},
										"sink": {
											"name": "Sterilization Finish",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_sterilizationprocesssig",
											"type": "String"
										},
										"sink": {
											"name": "Sterilization process Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_sterilizationstart",
											"type": "DateTime"
										},
										"sink": {
											"name": "Sterilization Start",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "crc5d_sterilizationtemperature",
											"type": "Decimal"
										},
										"sink": {
											"name": "Sterilization Temperature",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorbottlingid",
											"type": "Guid"
										},
										"sink": {
											"name": "Operator Bottling",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OperatorBottlingPreflight",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_OperatorBottlingPreflight",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Operator Bottling Preflight",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Operator Bottling Preflight]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OperatorBottlingPreflight')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_OperatorBottlingPreflight')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Operator')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Operator",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_code",
											"type": "String"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_initials",
											"type": "String"
										},
										"sink": {
											"name": "Initials",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorid",
											"type": "Guid"
										},
										"sink": {
											"name": "Operator",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Operator",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Operator",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Operator",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Operator]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Operator')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_Operator')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pre-Bottling Analysis Recheck')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pre-Bottling Analysis Recheck",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_prebottlinganalysisrechecksummaryname",
											"type": "String"
										},
										"sink": {
											"name": "Pre-Bottling Analysis Recheck Summary Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tanker Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_alc",
											"type": "Int32"
										},
										"sink": {
											"name": "ALC %",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alcnum",
											"type": "Decimal"
										},
										"sink": {
											"name": "ALC % Num",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_basedo",
											"type": "Decimal"
										},
										"sink": {
											"name": "Base DO",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "CO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_distill",
											"type": "Int32"
										},
										"sink": {
											"name": "Distill",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_distillnum",
											"type": "Decimal"
										},
										"sink": {
											"name": "Distill #",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_extraanalysis",
											"type": "String"
										},
										"sink": {
											"name": "Extra Analysis",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_fso2",
											"type": "Decimal"
										},
										"sink": {
											"name": "FSO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_initials",
											"type": "String"
										},
										"sink": {
											"name": "Initials",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_temp",
											"type": "Decimal"
										},
										"sink": {
											"name": "Temp",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tso2",
											"type": "Int32"
										},
										"sink": {
											"name": "TSO2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tso2mg",
											"type": "Decimal"
										},
										"sink": {
											"name": "TSO2 mg",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisrecheckid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-Bottling Analysis Recheck",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PreBottlingAnalysisRecheck",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PreBottlingAnalysisRecheck",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis Recheck",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Operator Bottling Preflight]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PreBottlingAnalysisRecheck')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_PreBottlingAnalysisRecheck')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pre-Bottling Analysis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pre-Bottling Analysis",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_prebottlinganalysissummaryname",
											"type": "String"
										},
										"sink": {
											"name": "Pre-Bottling Analysis Summary Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alc",
											"type": "Int32"
										},
										"sink": {
											"name": "ALC %",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_alcnum",
											"type": "Decimal"
										},
										"sink": {
											"name": "ALC % Num",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_alcohol",
											"type": "Boolean"
										},
										"sink": {
											"name": "Alcohol %",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alcbydistil",
											"type": "Boolean"
										},
										"sink": {
											"name": "Alcohol By Distil",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_alcoholbydistillation",
											"type": "String"
										},
										"sink": {
											"name": "Alcohol By Distillation",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_basedo",
											"type": "Decimal"
										},
										"sink": {
											"name": "Base DO",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_co2",
											"type": "Decimal"
										},
										"sink": {
											"name": "CO2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_density",
											"type": "Decimal"
										},
										"sink": {
											"name": "Density",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_fi",
											"type": "Decimal"
										},
										"sink": {
											"name": "FI",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_initials",
											"type": "String"
										},
										"sink": {
											"name": "Initials",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_initialscheck",
											"type": "String"
										},
										"sink": {
											"name": "Initials Check",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_notes",
											"type": "String"
										},
										"sink": {
											"name": "Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_ph",
											"type": "Decimal"
										},
										"sink": {
											"name": "pH",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_so2f",
											"type": "Decimal"
										},
										"sink": {
											"name": "SO2F",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tankvolume",
											"type": "Int32"
										},
										"sink": {
											"name": "Tank Volume",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tanker Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_temp",
											"type": "Decimal"
										},
										"sink": {
											"name": "Temp",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_ts02",
											"type": "Int32"
										},
										"sink": {
											"name": "TS02",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_ts02num",
											"type": "Decimal"
										},
										"sink": {
											"name": "TS02 Num",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_tso2",
											"type": "Boolean"
										},
										"sink": {
											"name": "TSO2",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-Bottling Analysis",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PreBottlingAnalysis",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PreBottlingAnalysis",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Pre-Bottling Analysis",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Pre-Bottling Analysis]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PreBottlingAnalysis')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_PreBottlingAnalysis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PrebottlingAnalysisGasAdjustments')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PrebottlingAnalysisGasAdjustments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_pbagasadjustmentsname",
											"type": "String"
										},
										"sink": {
											"name": "PBA Gas Adjustments Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_adjustmentoff",
											"type": "DateTime"
										},
										"sink": {
											"name": "Adjustment Off",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_adjustmenton",
											"type": "DateTime"
										},
										"sink": {
											"name": "Adjustment On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_co2retest",
											"type": "String"
										},
										"sink": {
											"name": "CO2 Retest",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_doorco2",
											"type": "Int32"
										},
										"sink": {
											"name": "DO or CO2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_dorestest",
											"type": "Decimal"
										},
										"sink": {
											"name": "DO Restest",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_etxt",
											"type": "Boolean"
										},
										"sink": {
											"name": "etxt",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_gas_used",
											"type": "Int32"
										},
										"sink": {
											"name": "Gas Used",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_off",
											"type": "String"
										},
										"sink": {
											"name": "Off",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_on",
											"type": "String"
										},
										"sink": {
											"name": "On",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_resultrequired",
											"type": "Decimal"
										},
										"sink": {
											"name": "Result Required",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tanker Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalsparging",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Sparging",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisgasadjustmentsid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-bottling Analysis Gas Adjustments",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PrebottlingAnalysisGasAdjustments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PrebottlingAnalysisGasAdjustments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PrebottlingAnalysisGasAdjustments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Pre-bottling Analysis Gas Adjustments]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PrebottlingAnalysisGasAdjustments')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_PrebottlingAnalysisGasAdjustments')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run Report - BottleLabelPack')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run Report - BottleLabelPack",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "Bill of Materials ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_cases1",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases2",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases3",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases4",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_cases5",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases 5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal1",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 1",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal2",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 2",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal3",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 3",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal4",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 4",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_casestotal5",
											"type": "Decimal"
										},
										"sink": {
											"name": "cases total 5",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_internalnotes",
											"type": "String"
										},
										"sink": {
											"name": "Internal Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins1",
											"type": "Int32"
										},
										"sink": {
											"name": "Pallets / Bins 1",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins2",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 2",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins3",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 3",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins4",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 4",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbins5",
											"type": "String"
										},
										"sink": {
											"name": "pallets / bins 5",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining2",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining3",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 3",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining4",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 4",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_palletsbinseachcontaining5",
											"type": "Int32"
										},
										"sink": {
											"name": "pallets / bins each containing 5",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_pluscasesdispatchedoffline",
											"type": "Decimal"
										},
										"sink": {
											"name": "Plus Cases dispatched off line",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_productionnotes",
											"type": "String"
										},
										"sink": {
											"name": "Production Notes",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "crc5d_runcompleted",
											"type": "String"
										},
										"sink": {
											"name": "Run Completed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runreportsig",
											"type": "String"
										},
										"sink": {
											"name": "Run Report Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalcasesproduced",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Cases Produced",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_totalcasestowarehouse",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Cases To Warehouse",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_runreportbottlelabelpackid",
											"type": "Guid"
										},
										"sink": {
											"name": "Run Report - Bottle/Label/Pack",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RunReportBottleLabelPack",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_RunReportBottleLabelPack",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Report - BottleLabelPack",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Run Report - Bottle/Label/Pack]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RunReportBottleLabelPack')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_RunReportBottleLabelPack')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Run",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_runid",
											"type": "Guid"
										},
										"sink": {
											"name": "Run",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_runnumber",
											"type": "String"
										},
										"sink": {
											"name": "RunNumber",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_rundate",
											"type": "DateTime"
										},
										"sink": {
											"name": "RunDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_workorderid",
											"type": "Int32"
										},
										"sink": {
											"name": "WorkOrderID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_workordertype",
											"type": "String"
										},
										"sink": {
											"name": "WorkOrderType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_vintage",
											"type": "String"
										},
										"sink": {
											"name": "Vintage",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_variety",
											"type": "String"
										},
										"sink": {
											"name": "Variety",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_runproductionlinename",
											"type": "String"
										},
										"sink": {
											"name": "ProductionLine",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Run",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Run",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Run]"
						},
						"linkedServiceName": {
							"referenceName": "WWSQL003",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Run')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_Run')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BOM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_billofmaterials"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BottleBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_bottlebatchsummary"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HourlyOperatorBottling')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_operatorbottlinghourly"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LabelChange')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_labelchange"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LabellingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_labellingpreflight"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Operator')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_operator"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OperatorBottlingBreakage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_operatorbottlingbreakage"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OperatorBottlingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_operatorbottling"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PreBottlingAnalysis')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_prebottlinganalysis"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PreBottlingAnalysisRecheck')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_prebottlinganalysisrecheck"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PrebottlingAnalysisGasAdjustments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_prebottlinganalysisgasadjustments"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_run"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RunReportBottleLabelPack')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataVerse",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_runreportbottlelabelpack"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataVerse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003LabellingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Labelling Preflight"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BOM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Bill of Material",
						"type": "uniqueidentifier"
					},
					{
						"name": "BOM ID",
						"type": "nvarchar"
					},
					{
						"name": "Work Order ID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bill of Materials"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BottleBatchSummary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bottle Batch Summary"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_HourlyOperatorBottling')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Authorised Sig",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bill of Materials ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Colour Sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottle laser sticker",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle laser sticker sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottle Number as Per Laser Coder",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Rub Mark",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Shape Sig",
						"type": "nvarchar"
					},
					{
						"name": "Bottling from",
						"type": "nvarchar"
					},
					{
						"name": "Bottling to",
						"type": "nvarchar"
					},
					{
						"name": "Bowl Vacuum",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Check docket and physically check wine is run",
						"type": "nvarchar"
					},
					{
						"name": "Collect Export Samples",
						"type": "nvarchar"
					},
					{
						"name": "Corker Vacuum",
						"type": "nvarchar"
					},
					{
						"name": "Corker Vacuum -0.8 to -1.0bar",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Delete Line",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DO2 from Bottle",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "DO2 from vessel",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Export samples picked",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Fill Height",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filler Head # ",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filler Speed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filter Differential",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Filtration Pressure Gauge",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Final Filter",
						"type": "decimal",
						"precision": 9,
						"scale": 2
					},
					{
						"name": "Flow Meter Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Foreign Body / Visual Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Gas feed to corker",
						"type": "nvarchar"
					},
					{
						"name": "Gas feed to corker 10 - 30kpa",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Gas Flow rate to Bowl (Line 2)",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Gas pressure to bottling tank",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Glass Fragments Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "In bottle",
						"type": "nvarchar"
					},
					{
						"name": "In tank",
						"type": "nvarchar"
					},
					{
						"name": "Laser code as per spec",
						"type": "nvarchar"
					},
					{
						"name": "Laser code on bottle",
						"type": "nvarchar"
					},
					{
						"name": "Lenticular Filter",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "N2 buffer vessel pressure",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Neck Check",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Pre Filter",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Prep Check 2",
						"type": "nvarchar"
					},
					{
						"name": "Prep Check 3",
						"type": "nvarchar"
					},
					{
						"name": "Prep Check Sig",
						"type": "nvarchar"
					},
					{
						"name": "Pump Speed",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rinse head inspection",
						"type": "nvarchar"
					},
					{
						"name": "Rinse head medium",
						"type": "nvarchar"
					},
					{
						"name": "Rinser Gas/Water Supply Line1",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rinser Gas/Water Supply Line2",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rinser Pressure Fluctuations",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Rockstopper",
						"type": "nvarchar"
					},
					{
						"name": "Rockstopper Filter",
						"type": "nvarchar"
					},
					{
						"name": "Samples Sig",
						"type": "nvarchar"
					},
					{
						"name": "Stock Code Sig",
						"type": "nvarchar"
					},
					{
						"name": "Temperature",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Time of Authorised Audit Check",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Time of Check - Micro Sample Taken",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "X-Ray Challenge Test",
						"type": "nvarchar"
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "date"
					},
					{
						"name": "Operator Bottling Hourly",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill of Materials",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Hourly Operator Bottling"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_LabelChange')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Bill of Material ID",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Delete Line",
						"type": "bit"
					},
					{
						"name": "Gap",
						"type": "decimal",
						"precision": 9,
						"scale": 4
					},
					{
						"name": "Height",
						"type": "decimal",
						"precision": 9,
						"scale": 4
					},
					{
						"name": "Labels match spec Sig",
						"type": "nvarchar"
					},
					{
						"name": "Lean",
						"type": "decimal",
						"precision": 9,
						"scale": 4
					},
					{
						"name": "Pallet Number",
						"type": "nvarchar"
					},
					{
						"name": "Stock Code",
						"type": "nvarchar"
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Label Change",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Label Change"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_Operator')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Initials",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Operator",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Operator"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_OperatorBottlingBreakage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Area clean",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Area retimed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Breakages",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Broken Bottles",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Colleague Sign",
						"type": "nvarchar"
					},
					{
						"name": "Delete Line",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Disposed bottles",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filler Op Sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass fragments visible",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Location of break",
						"type": "nvarchar"
					},
					{
						"name": "No breakages Sig",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Result of a crash",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Start up time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Time of break",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Type",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Operator Bottling Breakage",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill of Materials",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Operator Bottling Breakage"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_OperatorBottlingPreflight')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Operator Bottling Preflight"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_PreBottlingAnalysis')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Pre-Bottling Analysis Summary Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ALC %",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ALC % Num",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Alcohol %",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Alcohol By Distil",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Alcohol By Distillation",
						"type": "nvarchar"
					},
					{
						"name": "Base DO",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "CO2",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Customer Tank Name",
						"type": "nvarchar"
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Density",
						"type": "decimal",
						"precision": 5,
						"scale": 5
					},
					{
						"name": "FI",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Initials",
						"type": "nvarchar"
					},
					{
						"name": "Initials Check",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "nvarchar"
					},
					{
						"name": "Operator",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pH",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Run Number",
						"type": "nvarchar"
					},
					{
						"name": "SO2F",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "Tank Volume",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tanker Name",
						"type": "nvarchar"
					},
					{
						"name": "Temp",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "TS02",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TS02 Num",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "TSO2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Pre-Bottling Analysis",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Pre-Bottling Analysis"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_PreBottlingAnalysisRecheck')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Pre-Bottling Analysis Recheck Summary Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tanker Name",
						"type": "nvarchar"
					},
					{
						"name": "ALC %",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ALC % Num",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Base DO",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "CO2",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Customer Tank Name",
						"type": "nvarchar"
					},
					{
						"name": "Date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Distill",
						"type": "bit"
					},
					{
						"name": "Distill #",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Extra Analysis",
						"type": "nvarchar"
					},
					{
						"name": "FSO2",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Initials",
						"type": "nvarchar"
					},
					{
						"name": "Operator",
						"type": "nvarchar"
					},
					{
						"name": "Run Number",
						"type": "nvarchar"
					},
					{
						"name": "Temp",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "TSO2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TSO2 mg",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Pre-Bottling Analysis Recheck",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Pre-Bottling Analysis Recheck"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_PrebottlingAnalysisGasAdjustments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Pre-bottling Analysis Gas Adjustments"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_Run')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "RunNumber",
						"type": "nvarchar"
					},
					{
						"name": "RunDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "WorkOrderID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WorkOrderType",
						"type": "nvarchar"
					},
					{
						"name": "Vintage",
						"type": "nvarchar"
					},
					{
						"name": "Variety",
						"type": "nvarchar"
					},
					{
						"name": "ProductionLine",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Run"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_RunReportBottleLabelPack')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "WWSQL003",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bill of Materials ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "cases 1",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases 2",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases 3",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases 4",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases 5",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases total 1",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases total 2",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases total 3",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases total 4",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "cases total 5",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Internal Notes",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Pallets / Bins 1",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pallets / bins 2",
						"type": "nvarchar"
					},
					{
						"name": "pallets / bins 3",
						"type": "nvarchar"
					},
					{
						"name": "pallets / bins 4",
						"type": "nvarchar"
					},
					{
						"name": "pallets / bins 5",
						"type": "nvarchar"
					},
					{
						"name": "pallets / bins each containing 2",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pallets / bins each containing 3",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pallets / bins each containing 4",
						"type": "int",
						"precision": 10
					},
					{
						"name": "pallets / bins each containing 5",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Plus Cases dispatched off line",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Production Notes",
						"type": "nvarchar"
					},
					{
						"name": "Run Completed",
						"type": "nvarchar"
					},
					{
						"name": "Run Report Sig",
						"type": "nvarchar"
					},
					{
						"name": "Total Cases Produced",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Total Cases To Warehouse",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Run Report - Bottle/Label/Pack",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Run Report - Bottle/Label/Pack"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataVerse')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://wineworks.crm6.dynamics.com/",
					"authenticationType": "Office365",
					"username": "tejaswi.Datla@wineworks.co.nz",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every Hour')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2021-03-25T12:31:00",
						"timeZone": "New Zealand Standard Time"
					}
				}
			},
			"dependsOn": []
		}
	]
}