Azure-Data-Factory/templates/Bottle Batch Rejects1/Bottle Batch Rejects1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"WWSQL003_DataverseDev": {
			"type": "string"
		},
		"DataverseDev": {
			"type": "string"
		},
		"WWSQL003_Dataverse_Staging": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Bottle Batch Rejects')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Bottle Batch Rejects",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill Of materials",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_bottlebatchrejectsid",
											"type": "Guid"
										},
										"sink": {
											"name": "Bottle Batch Rejects",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_broken",
											"type": "Int32"
										},
										"sink": {
											"name": "Broken",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_comments",
											"type": "String"
										},
										"sink": {
											"name": "comments",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_filler",
											"type": "Int32"
										},
										"sink": {
											"name": "Filler",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_lab",
											"type": "Int32"
										},
										"sink": {
											"name": "Lab",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "BottleBatchRejects",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_BottleBatchRejects",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Bottle Batch Rejects",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Bottle Batch Rejects]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('WWSQL003_DataverseDev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-03-25T23:30:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BottleBatchRejects')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_BottleBatchRejects')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BottleBatchRejects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataverseDev')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_bottlebatchrejects"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_BottleBatchRejects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('WWSQL003_Dataverse_Staging')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Bottle Batch Rejects"
				}
			},
			"dependsOn": []
		}
	]
}