Azure-Data-Factory/templates/Operator/Operator.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"WWSQL003_DataverseDev": {
			"type": "string"
		},
		"DataverseDev": {
			"type": "string"
		},
		"WWSQL003_Dataverse_Staging": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Operator')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Operator",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_code",
											"type": "String"
										},
										"sink": {
											"name": "Code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_initials",
											"type": "String"
										},
										"sink": {
											"name": "Initials",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorid",
											"type": "Guid"
										},
										"sink": {
											"name": "Operator",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Operator",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_Operator",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Operator",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Operator]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('WWSQL003_DataverseDev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Operator')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_Operator')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Operator')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataverseDev')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_operator"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_Operator')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('WWSQL003_Dataverse_Staging')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Initials",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Operator",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Operator"
				}
			},
			"dependsOn": []
		}
	]
}