Azure-Data-Factory/templates/Operator Bottling Breakage/Operator Bottling Breakage.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"WWSQL003_DataverseDev": {
			"type": "string"
		},
		"DataverseDev": {
			"type": "string"
		},
		"WWSQL003_Dataverse_Staging": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Operator Bottling Breakage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Operator Bottling Breakage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterialsname",
											"type": "String"
										},
										"sink": {
											"name": "BOM ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_areaclean",
											"type": "Int32"
										},
										"sink": {
											"name": "Area clean",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_arearetimed",
											"type": "Int32"
										},
										"sink": {
											"name": "Area retimed",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_bottlecount",
											"type": "Int32"
										},
										"sink": {
											"name": "Bottle Count",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_breakages",
											"type": "Int32"
										},
										"sink": {
											"name": "Breakages",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_brokenbottles",
											"type": "Int32"
										},
										"sink": {
											"name": "Broken Bottles",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_colleaguesign",
											"type": "String"
										},
										"sink": {
											"name": "Colleague Sign",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_deleteline",
											"type": "Boolean"
										},
										"sink": {
											"name": "Delete Line",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_disposedbottles",
											"type": "Int32"
										},
										"sink": {
											"name": "Disposed bottles",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_filleropsig",
											"type": "String"
										},
										"sink": {
											"name": "Filler Op Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_locationofbreak",
											"type": "String"
										},
										"sink": {
											"name": "Location of break",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_nobreakagessig",
											"type": "String"
										},
										"sink": {
											"name": "No breakages Sig",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operatorcode",
											"type": "Int32"
										},
										"sink": {
											"name": "Operator Code",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_resultofacrash",
											"type": "Int32"
										},
										"sink": {
											"name": "Result of a crash",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_startuptime",
											"type": "DateTime"
										},
										"sink": {
											"name": "Start up time",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_timeofbreak",
											"type": "DateTime"
										},
										"sink": {
											"name": "Time of break",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_type",
											"type": "Int32"
										},
										"sink": {
											"name": "Type",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_operatorbottlingbreakageid",
											"type": "Guid"
										},
										"sink": {
											"name": "Operator Bottling Breakage",
											"type": "Guid"
										}
									},
									{
										"source": {
											"name": "ww_billofmaterials",
											"type": "Guid"
										},
										"sink": {
											"name": "Bill of Materials",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OperatorBottlingBreakage",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_OperatorBottlingBreakage",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Operator Bottling Breakage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Operator Bottling Breakage]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('WWSQL003_DataverseDev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OperatorBottlingBreakage')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_OperatorBottlingBreakage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OperatorBottlingBreakage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataverseDev')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_operatorbottlingbreakage"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_OperatorBottlingBreakage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('WWSQL003_Dataverse_Staging')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Area clean",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Area retimed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Bottle Count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Breakages",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Broken Bottles",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Colleague Sign",
						"type": "nvarchar"
					},
					{
						"name": "Delete Line",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Disposed bottles",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Filler Op Sig",
						"type": "nvarchar"
					},
					{
						"name": "Glass fragments visible",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Location of break",
						"type": "nvarchar"
					},
					{
						"name": "No breakages Sig",
						"type": "nvarchar"
					},
					{
						"name": "Operator Code",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Result of a crash",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Start up time",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Time of break",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Type",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Import Sequence Number",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Modified On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Record Created On",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Operator Bottling Breakage",
						"type": "uniqueidentifier"
					},
					{
						"name": "Bill of Materials",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Operator Bottling Breakage"
				}
			},
			"dependsOn": []
		}
	]
}