Azure-Data-Factory/templates/PrebottlingAnalysisGasAdjustments/PrebottlingAnalysisGasAdjustments.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"WWSQL003_DataverseDev": {
			"type": "string"
		},
		"DataverseDev": {
			"type": "string"
		},
		"WWSQL003_Dataverse_Staging": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PrebottlingAnalysisGasAdjustments')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PrebottlingAnalysisGasAdjustments",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "CommonDataServiceForAppsSource"
							},
							"sink": {
								"type": "SqlServerSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ww_pbagasadjustmentsname",
											"type": "String"
										},
										"sink": {
											"name": "PBA Gas Adjustments Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "Int32"
										},
										"sink": {
											"name": "Status",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_adjustmentoff",
											"type": "DateTime"
										},
										"sink": {
											"name": "Adjustment Off",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_adjustmenton",
											"type": "DateTime"
										},
										"sink": {
											"name": "Adjustment On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_co2retest",
											"type": "String"
										},
										"sink": {
											"name": "CO2 Retest",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_customertankname",
											"type": "String"
										},
										"sink": {
											"name": "Customer Tank Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_date",
											"type": "DateTime"
										},
										"sink": {
											"name": "Date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_doorco2",
											"type": "Int32"
										},
										"sink": {
											"name": "DO or CO2",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_dorestest",
											"type": "Decimal"
										},
										"sink": {
											"name": "DO Restest",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_etxt",
											"type": "Boolean"
										},
										"sink": {
											"name": "etxt",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "ww_gas_used",
											"type": "Int32"
										},
										"sink": {
											"name": "Gas Used",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "ww_off",
											"type": "String"
										},
										"sink": {
											"name": "Off",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_on",
											"type": "String"
										},
										"sink": {
											"name": "On",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_operator",
											"type": "String"
										},
										"sink": {
											"name": "Operator",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_resultrequired",
											"type": "Decimal"
										},
										"sink": {
											"name": "Result Required",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "ww_runname",
											"type": "String"
										},
										"sink": {
											"name": "Run Number",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_tankerlookupname",
											"type": "String"
										},
										"sink": {
											"name": "Tanker Name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ww_totalsparging",
											"type": "Decimal"
										},
										"sink": {
											"name": "Total Sparging",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "createdon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "importsequencenumber",
											"type": "Int32"
										},
										"sink": {
											"name": "Import Sequence Number",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "modifiedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "overriddencreatedon",
											"type": "DateTime"
										},
										"sink": {
											"name": "Record Created On",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "ww_prebottlinganalysisgasadjustmentsid",
											"type": "Guid"
										},
										"sink": {
											"name": "Pre-bottling Analysis Gas Adjustments",
											"type": "Guid"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "PrebottlingAnalysisGasAdjustments",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "WWSQL003_PrebottlingAnalysisGasAdjustments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Merge Statement",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PrebottlingAnalysisGasAdjustments",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Pre-bottling Analysis Gas Adjustments]"
						},
						"linkedServiceName": {
							"referenceName": "[parameters('WWSQL003_DataverseDev')]",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PrebottlingAnalysisGasAdjustments')]",
				"[concat(variables('factoryId'), '/datasets/WWSQL003_PrebottlingAnalysisGasAdjustments')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PrebottlingAnalysisGasAdjustments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('DataverseDev')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": "ww_prebottlinganalysisgasadjustments"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WWSQL003_PrebottlingAnalysisGasAdjustments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('WWSQL003_Dataverse_Staging')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Pre-bottling Analysis Gas Adjustments"
				}
			},
			"dependsOn": []
		}
	]
}